<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Se puede dar en cualquier nivel de la cadena alimentaria.</p>
            <h3 style="text-align: center; color: #E0684B; font-size: 32px; margin-bottom: 5px;">TRANSMISIÓN</h3>
            <h3 style="text-align: center; color: #E0684B; font-size: 24px; margin-bottom: 40px;">EN CUALQUIER NIVEL DE LA CADENA ALIMENTARIA</h3>
            <div class="caja-tres">
                <div>
                    <p>Obtención</p>
                    <p>Preparación</p>
                    <p>Transformación</p>
                    <p>Envasado</p>
                    <p>Almacenamiento</p>        
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">DEL ALIMENTO</p>
                </div>
            </div>
            <div class="caja-tres">
                <div>
                    <p>Transporte</p>
                    <p>Manipulación</p>
                    <p>Venta</p>
                    <p>Suministro</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">LAS COMIDAS</p>
                </div>
            </div>
        </div>
    </div>
</div>
