<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Es pot donar en qualsevol nivell de la cadena alimentària.</p>
            <h3 style="text-align: center; color: #E0684B; font-size: 32px; margin-bottom: 5px;">TRANSMISSIÓ</h3>
            <h3 style="text-align: center; color: #E0684B; font-size: 24px; margin-bottom: 40px;">EN QUALSEVOL NIVELL DE LA CADENA ALIMENTÀRIA</h3>
            <div class="caja-tres">
                <div>
                    <p>Obtenció</p>
                    <p>Preparació</p>
                    <p>Transformació</p>
                    <p>Envasat</p>
                    <p>Emmagatzemament</p>        
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">DE L’ALIMENT</p>
                </div>
            </div>
            <div class="caja-tres">
                <div>
                    <p>Transport</p>
                    <p>Manipulació</p>
                    <p>Venda</p>
                    <p>Subministre</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">DELS MENJARS</p>
                </div>
            </div>
        </div>
    </div>
</div>
