<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Els aliments més sensibles a produir T.I.A. són: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <ul style="padding-left: 2rem">
                <li class="fade-uno">Carns d’aus i de caça</li>
                <li class="fade-dos">Carn picada</li>
                <li class="fade-tres">Ous i productes de pastisseria</li>
                <li class="fade-cuatro">Llet</li>
                <li class="fade-cinco">Amanides i plats freds</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-cinco" src="assets/AMPANS_56.jpg" alt="">
        </div>
    </div>
</div>