<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Los alimentos más sensibles de producir T.I.A. son:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-66">
            <ul style="padding-left: 2rem">
                <li class="fade-uno">Carnes de ave y de caza</li>
                <li class="fade-dos">Carne picada</li>
                <li class="fade-tres">Huevos y productos de pastelería</li>
                <li class="fade-cuatro">Leche</li>
                <li class="fade-cinco">Ensaladas y platos fríos</li>
            </ul>
        </div>
        <div class="col-33">
            <img class="fade-cinco" src="assets/AMPANS_56.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="width: 80%; display: block; margin: 20px auto;"class="fade-seis" src="assets/alimens.png" alt="">
        </div>
    </div>
</div>