<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;"><b>Els aliments han de seguir un camí endavant sense tornar al procés anterior ni arribar a un altre sense haver-ho fet tot correctament</b>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="display: block; margin: 0 auto;" src="assets/AMPANS_78.jpg" alt="">
        </div>
    </div>
</div>