<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;"><b>Los alimentos deben seguir un camino hacia adelante sin volver al proceso anterior ni llegar a otro sin haberlo hecho todo correctamente</b>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="display: block; margin: 0 auto;" src="assets/AMPANS_78.jpg" alt="">
        </div>
    </div>
</div>