@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.contenedor {

    width: 100%;
    max-width: 1440px;
    margin: 80px auto 0;
    padding-top: 5px;
    padding-bottom: 80px;

    &.condicional {
        opacity: 0;
        animation: fadein 0.7s ease-in-out forwards;
    }

}

.row {
    margin: 1em 0;
    @include flex(flex-start, flex-start);
}

.row.spinner {
    height: calc(100vh - 140px);
    @include flex(center, center);
}


.col-100 {
    padding: 0 1em;
    width: 100%;
}

.col-66 {
    padding: 0 1em;
    width: 66%;
}

.col-50 {
    padding: 0 1em;
    width: 50%;
}

.col-33 {
    padding: 0 1em;
    width: 33.33333%;
}

@media (max-width: $small-device) {
    .row {
        margin: 0 1em;
        @include flex-column(flex-start, flex-start);
    }    
    
    .col-100 {
        padding: 0;
    }

    .col-66 {
        padding: 0;
        width: 100%;
    }

    .col-50 {
        padding: 0;
        width: 100%;
    }

    .col-33 {
        padding: 0;
        width: 100%;
    }

}

.m-r-small {
    margin-right: 1rem;
}