<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>CELIAQUÍA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p><b>Clasificación de los alimentos según su contenido en gluten</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 250px" class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>Alimentos que con seguridad contienen gluten</p>
                    </div>
                    <div style="height: 250px" (click)="showTab(1)" [style.height.px]="height">
                        <p>Alimentos que pueden contener gluten</p>
                    </div>
                    <div style="height: 250px" (click)="showTab(2)" [style.height.px]="height">
                        <p>Alimentos que con toda seguridad no contienen gluten</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-100">
                            <ul>
                                <li>Pan, harina de trigo, cebada, centeno y avena.</li>
                                <li>Bollería y pasteles.</li>
                                <li>Galletas, cocas y productos de repostería.</li>
                                <li>Pasta alimentaria, fideos, macarrones, tallarines, etc.</li>
                                <li>Bebidas malteadas.</li>
                                <li>Bebidas destiladas o fermentadas a partir de cereales, cerveza, whisky y licores.</li> 
                                <li>Productos manufacturados que entre su composición contengan las harinas citadas en cualquiera de sus formas, como almidones, féculas, sémolas, proteínas, etc.</li> 
                            </ul>
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-100">
                            <ul>
                                <li>Embutidos, chóped, bull blanco y negro, chorizo, butifarra negra, etc</li>
                                <li>Productos de charcutería.</li>
                                <li>Queso fundido, de untar, quesos especiales para pizza.</li>
                                <li>Patés</li>
                                <li>Conservas de carne: albóndigas y hamburguesas.</li>
                                <li>Conservas de pescado en salsa o con tomate frito.</li>
                                <li>Caramelos y gominolas (chucherías)</li>
                                <li>Sucedáneos del café y bebidas de máquina.</li>
                                <li>Frutos secos torrados i/o fritos con harina y sal.</li>
                                <li>Algunos tipos de helados.</li>
                                <li>Sucedáneos del chocolate.</li>
                                <li>Salsas, condimentos y colorantes alimentarios.</li> 
                            </ul>
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-100">
                            <ul>
                                <li>Leche y derivados, quesos, requesón, nata, yogures naturales y de sabores, conserva al natural, cecina, jamón serrano y jamón dulce de calidad extra.</li>
                                <li>Pescado fresco y congelados sin rebozar, marisco fresco y pescado y marisco en conserva al natural o con aceite.</li> 
                                <li>Huevos</li>
                                <li>Verduras, hortalizas y tubérculos.</li>
                                <li>Frutas</li>
                                <li>Arroz, maíz y tapioca, así como sus derivados.</li> 
                                <li>Todo tipo de legumbres.</li>
                                <li>Azúcar y miel.</li>
                                <li>Aceites y mantequillas.</li> 
                                <li>Café en grano o molido, infusiones o refrescos de naranja, limón o cola.</li> 
                                <li>Todo tipo de vinos y bebidas espumosas.</li>
                                <p>Frutos secos al natural.</p>
                                <li>Sal, vinagre de vino, especias en rama, en grano y todas naturales.</li>
                            </ul>
                        </section> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="max-width: 30%; display: block; margin: 0 auto;" src="assets/esquema_9_4_4.png" alt="">
        </div>
    </div>
</div>