<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Como seres vivos que son necesitan alimentarse para vivir. </p>
            <p>Los alimentos que más les gustan y, por tanto, de alto riesgo, suelen ser ricos en proteínas y son:</p>
            <ul style="padding-left: 2rem;">
                <li>Huevos y derivados (mayonesa)</li>
                <li>Leche y derivados. Productos de pastelería como crema o nata</li>
                <li>Carnes: especialmente el pollo y la carne picada de cualquier clase</li>
                <li>Pescado y mariscos</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_16.jpg" alt="">
        </div>
    </div>
</div>