<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Com a éssers vius que són necessiten alimentar-se per viure.</p>
            <p>Els aliments que més els agraden i per tant d’alt risc solen ser rics en proteïnes i són:</p>
            <ul style="padding-left: 2rem;">
                <li>Ous i derivats (maionesa). </li>
                <li>Llet i derivats. Productes de pastisseria com crema o nata. </li>
                <li>Carns: especialment el pollastre i carn picada de qualsevol tipus. </li>
                <li>Peix i mariscs.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_16.jpg" alt="">
        </div>
    </div>
</div>