<div class="contenedor condicional">
    <div class="row" style="background-color: white; margin-top: -10px;">
        <div class="col-100">
            <p>Aquí podeu veure algunes de les notícies aparegudes als mitjans de comunicació i que mostren la importància d’una correcta manipulació dels aliments.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 0; margin-bottom: 0;">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="carrousell" style="position: relative">
        <div class="card-slider arriba" id="slider-1">
            <img src="assets/carrousel/Imagen1.png" alt="">
            <img src="assets/carrousel/Imagen2.png" alt="">
            <img src="assets/carrousel/Imagen3.png" alt="">
        </div>
        <div class="card-slider arriba out" id="slider-2">
            <img src="assets/carrousel/Imagen4.png" alt="">
            <img src="assets/carrousel/Imagen5.png" alt="">
            <img src="assets/carrousel/Imagen6.png" alt="">
        </div>
        <div class="slider">
            <div class="card-slider arriba out" id="slider-3">
                <img src="assets/carrousel/Imagen7.png" alt="">
                <img src="assets/carrousel/Imagen8.png" alt="">
                <img src="assets/carrousel/Imagen9.png" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-4">
                <img src="assets/carrousel/Imagen10.png" alt="">
                <img src="assets/carrousel/Imagen11.png" alt="">
                <img src="assets/carrousel/Imagen12.png" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-5">
                <img src="assets/carrousel/Imagen13.png" alt="">
                <img src="assets/carrousel/Imagen14.png" alt="">
                <img src="assets/carrousel/Imagen15.png" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-6">
                <img src="assets/carrousel/Imagen16.png" alt="">
                <img src="assets/carrousel/Imagen17.png" alt="">
                <img src="assets/carrousel/Imagen18.png" alt="">
            </div>
        </div>
        <div class="text-under-slider">
            <p>Així doncs, veient aquestes notícies es posa en relleu que la labor d'un manipulador d'aliments és extremadament important, doncs és la primera línia de defensa contra les infeccions i intoxicacions que poden produir els aliments. Per això, la formació d'un manipulador d'aliments és fonamental!!</p>
        </div>
    </div>
</div>