<div appScroll class="contenedor condicional">
    <div class="row" style="background-color: white; margin-top: -10px;">
        <div class="col-100">
            <p>Aquí podéis ver algunas de las noticias aparecidas en los medios de comunicación y que muestran la importancia de una correcta manipulación de los alimentos.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 0; margin-bottom: 0;">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="carrousell" style="position: relative">
        <div class="card-slider arriba" id="slider-1">
            <img src="assets/carrousel/Catala_1.jpg" alt="">
            <img src="assets/carrousel/Imagen2.png" alt="">
            <img src="assets/carrousel/Catala_2.jpg" alt="">
        </div>
        <div class="card-slider arriba out" id="slider-2">
            <img src="assets/carrousel/Imagen4.png" alt="">
            <img src="assets/carrousel/Catala_3.jpg" alt="">
            <img src="assets/carrousel/Imagen6.png" alt="">
        </div>
        <div class="slider">
            <div class="card-slider arriba out" id="slider-3">
                <img src="assets/carrousel/Catala_4.jpg" alt="">
                <img src="assets/carrousel/Imagen8.png" alt="">
                <img src="assets/carrousel/Catala_5.jpg" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-4">
                <img src="assets/carrousel/Imagen10.png" alt="">
                <img src="assets/carrousel/Catala_6.jpg" alt="">
                <img src="assets/carrousel/Imagen12.png" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-5">
                <img src="assets/carrousel/Imagen13.png" alt="">
                <img src="assets/carrousel/Catala_7.jpg" alt="">
                <img src="assets/carrousel/Imagen15.png" alt="">
            </div>
            <div class="card-slider arriba out" id="slider-6">
                <img src="assets/carrousel/Catala_8.jpg" alt="">
                <img src="assets/carrousel/Imagen17.png" alt="">
                <img src="assets/carrousel/Catala_9.jpg" alt="">
            </div>
        </div>
        <div class="text-under-slider">
            <p>Así pues, en estas noticias, se destaca que la labor de un manipular de alimentos es extremadamente importante, ya que es la primera línea de defensa contra las infecciones e intoxicaciones que pueden producir los alimentos. Por eso, ¡la formación de un manipulador de alimentos es fundamental!</p>
        </div>
    </div>
</div>