<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Hay que tener en cuenta:</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Olor y sabor</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <p>No cambia ni el olor ni el sabor del alimento, por eso no sabremos nunca si está contaminado o no.</p>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿Cómo se destruye?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <p>Se destruye con el calor, por tanto no tendremos que preocuparnos por los alimentos cocinados si no por los que se consumen en frío: mayonesa y productos de pastelería (cremas, natas...).</p>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Cómo se transmite?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Se pueden transmitir:</p>
                        <ul style="padding-left: 2rem">
                            <li><b>Por no lavarnos correctamente las manos</b> después de manipular carne cruda, huevos o mascotas, o después de ir al WC.</li>
                            <li><b>Beber agua contaminada</b>.</li>
                            <li><b>Contaminación cruzada</b> (tocar un alimento de consumo directo como pueden ser ensaladas, postres, embutidos... con la misma superficie o utensilio que ha estado en contacto con un alimento contaminado.)</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_34.jpg" alt="">
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿Cómo lo evitamos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Envolveremos o separaremos adecuadamente dentro de la nevera la carne cruda del resto de alimentos.</p>
                        <p>Usaremos siempre mayonesa industrial o haremos lactonesa.</p>
                    </div>
                </div>													
                <div id="info24" class="masInfo">
                    <p (click)="acordeon('#info24');">
                        <span>Huevos</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Los huevos son la fuente más frecuente de salmonelosis. La causa suele estar en los restos de excrementos de gallina que pueden mantenerse adheridos a la cáscara.</p>
                        <p>Las precauciones que se deben tomar son:</p>
                        <ul style="padding-left: 2rem">
                            <li>No usar huevos con restos sospechosos en la cáscara si se quieren emplear en crudo. </li>
                            <li>Lavarse bien las manos y limpiar las superficies y los utensilios después de manipular huevos frescos. </li>
                            <li>Poner atención a que no queden restos de cáscara en los huevos una vez abiertos.</li> 
                            <li>No poner cerca de productos de limpieza ya que la cáscara es porosa.</li>
                            <li>Las tortillas, hasta su servicio, se tienen que guardar en el frigorífico o en armarios calientes. Añadir un poco de limón o hacerlas bien cocidas por dentro. Preferiblemente, utilizar huevo industrial.</li> 
                        </ul>
                        <img style="display: block; margin: 0 auto; max-width: 400px"src="assets/AMPANS_35.png" alt="">
                    </div>
                </div>													
                <div id="info25" class="masInfo">
                    <p (click)="acordeon('#info25');">
                        <span>Comida fría</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Platos que se consumen fríos: mantener el alimento en frio justo hasta el momento de consumo.</p>
                    </div>
                </div>													
                <div id="info26" class="masInfo">
                    <p (click)="acordeon('#info26');">
                        <span>Las ensaladas</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <ul style="padding-left: 2rem">
                            <li>También es un plato peligroso porque se consume en frio.</li> 
                            <li>Hay que extremar la higiene y evitar la contaminación cruzada.</li>
                            <li>Preparar y guardar en frío</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_36.jpg" alt="">
                    </div>
                </div>													
                <div id="info27" class="masInfo">
                    <p (click)="acordeon('#info27');">
                        <span>La carne picada</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <ul style="padding-left: 2rem">
                            <li>Al picar carne aumenta la superficie de contacto con el entorno y el aire.</li>
                            <li>Mantener en frío.</li>
                            <li>Si se pican en el mismo centro: cocinar inmediatamente.</li>
                            <li>Las máquinas usadas hay que mantenerlas limpias y desinfectadas.</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_37.jpg" alt="">
                    </div>
                </div>													
            </div>
        </div>
    </div>
</div>