<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Cal tenir en compte:</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Olor i gust</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <p><b>No canvia ni l’olor ni el gust de l’aliment</b>, pel què no sabrem mai si està o no contaminat.</p>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Com es destrueix?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <p>Es destrueix <b>amb la calor</b>, per tant no haurem de patir pels aliments cuinats sinó pels de consum en fred: mahonesa i productes de pastisseria (crema, nates…).</p>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Com es transmet?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Es pot transmetre per:</p>
                        <ul style="padding-left: 2rem">
                            <li><b>No rentar-nos correctament les mans</b> després de manipular carn crua o ous o mascotes, o després d’anar al wc. </li>
                            <li><b>Beure aigua contaminada</b>.</li>
                            <li><b>Contaminació creuada</b> (tocar un aliment de consum directe com poden ser amanides, postres, embotit… amb la mateixa superfície o utensili que ha estat en contacte amb un aliment contaminat).</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_34.jpg" alt="">
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Com l’evitarem?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Embolicarem o separarem adequadament dins la nevera la carn crua de la resta d’aliments.</p>
                        <p>Utilitzarem sempre mahonesa industrial o farem lactonesa.</p>
                    </div>
                </div>													
                <div id="info24" class="masInfo">
                    <p (click)="acordeon('#info24');">
                        <span>Ous</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p><b>Els ous són la font més freqüent de salmonel·losi</b>. La causa sol estar en les restes d’excrement de gallina que poden romandre adherides a la closca.</p>
                        <p>Les precaucions a prendre són:</p>
                        <ul style="padding-left: 2rem">
                            <li>No usar ous amb restes sospitoses en la closca si es volen utilitzar en cru.</li>
                            <li>Renteu-vos les mans i netegeu les superfícies i els estris després de manipular ous frescos.</li>
                            <li>Posar atenció que no quedin restes de closca en els ous una vegada oberts.</li>
                            <li>No posar a prop de productes de neteja ja que la closca és porosa.</li>
                            <li>Les truites, fins al seu servei s’han de guardar al frigorífic o en armaris calents. Afegir una mica de llimona o fer-les ben cuites de dins. Millor utilitzar ou industrial.</li>
                        </ul>
                        <img style="display: block; margin: 0 auto; max-width: 400px"src="assets/AMPANS_35.png" alt="">
                    </div>
                </div>													
                <div id="info25" class="masInfo">
                    <p (click)="acordeon('#info25');">
                        <span>Menjar fred</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Plats que es consumeixen freds: mantenir l’aliment en fred fins just el moment del consum.</p>
                    </div>
                </div>													
                <div id="info26" class="masInfo">
                    <p (click)="acordeon('#info26');">
                        <span>Les amanides</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <ul style="padding-left: 2rem">
                            <li>També és un plat perillós perquè es consumeix en cru.</li>
                            <li>Extremar la higiene i evitar la contaminació creuada.</li>
                            <li>Preparar i guardar en fred.</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_36.jpg" alt="">
                    </div>
                </div>													
                <div id="info27" class="masInfo">
                    <p (click)="acordeon('#info27');">
                        <span>La carn picada</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <ul style="padding-left: 2rem">
                            <li>Al picar carns augmenta la superfície de contacte amb el medi i l’aire.</li>
                            <li>Mantenir en fred.</li>
                            <li>Si es piquen en el mateix centre: cuinar immediatament.</li>
                            <li>Les màquines mantenir-les netes i desinfectades</li>
                        </ul>
                        <img style="display: block; margin: 0 auto;"src="assets/AMPANS_37.jpg" alt="">
                    </div>
                </div>													
            </div>
        </div>
    </div>
</div>