<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">El correcte control de plagues només el pot realitzar una empresa especialitzada i homologada pel Departament de Salut.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="max-width: 20%; display: block; margin: 0 auto;" src="assets/AMPANS_95.jpg" alt="">
        </div>
    </div>
</div>