<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 205px" class="check" (click)="showTab(0)">
                        <p>On es troba?</p>
                    </div>
                    <div style="height: 205px" (click)="showTab(1)">
                        <p>Com es propaga?</p>
                    </div>
                    <div style="height: 205px" (click)="showTab(2)">
                        <p>Quins són els seus símptomes?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible">
                        <section class="col-50">
                            <p>La malaltia no la provoca ell mateix sinó la seva <b>entero-toxina</b>. El bacteri <i>Staphylococcus aureus</i> està present en el 30% de les persones sanes, es troba al nas i a la pell.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_45.jpg" alt="">
                        </section>
                    </div>
                    <div class="show">
                        <section class="col-50">
                            <p>El bacteri es pot propagar per contacte directe, a través d’objectes contaminats (telèfons, poms de portes, comandaments a distancia…) o, menys freqüentment, per inhalació de gotetes infectades dispersades a l’esternudar o tossir.</p>
                            <p>Els <b>portadors</b> son persones que tenen el bacteri però no presenten cap símptoma. Els portadors poden traslladar els bacteris del seu nas a altres parts amb les seves mans. Per això és tant important que ens moquem amb mocadors d’un sol us i ens rentem les mans sempre després. Si hem de tossir mai posarem la mà sinó l’avantbraç davant la boca.</p>
                            <p><b>Cal tapar-nos les ferides de les mans abans de manipular aliments i utilitzar guants específics si cal</b>.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_46.jpg" alt="">
                        </section>
                    </div>
                    <div class="show">
                        <section class="col-50">
                            <p>Els símptomes més comuns són diarrea, vòmits, nàusees, dolors abdominals, espasmes i cansament. Dura de 24 a 48 hores. Rarament és mortal.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_47.jpeg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>