<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;">SALMONEL·LA</h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_38.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTIQUES</th>
                    <th>ALIMENTS</th>
                    <th>PREVENCIÓ</th>
                </tr>
                <tr>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Principal causant de T.I.A.</li>
                            <li>Molt perillós en nens i gent gran</li>
                            <li>Termo sensible</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Ous</li>
                            <li>Aus</li>
                            <li>Carn picada</li>
                            <li>Llet</li>
                            <li>Pastissos</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Mantenir l'aliment en refrigeració fins el consum</li>
                            <li>Tractament tèrmic adequat</li>
                            <li>Higiene personal dels manipuladors</li>
                            <li>No utilitzar ous frescos</li>
                            <li>Utilitzar lactulosa o maionesa industrial</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



