<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;">SALMONELLA</h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_38.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTICAS</th>
                    <th>ALIMENTOS</th>
                    <th>PREVENCIÓN</th>
                </tr>
                <tr>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Principal causante de T.I.A.</li>
                            <li>Muy peligroso en niños y ancianos</li>
                            <li>Termo sensible</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Huevos</li>
                            <li>Aves</li>
                            <li>Carne picada</li>
                            <li>Leche</li>
                            <li>Pasteles</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Mantener el alimento en refrigeración hasta su consumo.</li>
                            <li>Tratamiento térmico adecuado.</li>
                            <li>Higiene personal de los manipuladores.</li>
                            <li>No utilitar huevos frescos.</li>
                            <li>Utilizar lactulosa o mayonesa industrial.</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



