<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>On es troba?</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>Què causa?</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="height">
                        <p>Quins són els seus símptomes?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>És una bactèria que es troba sovint a les carns (sobretot aus), als ous i els productes sense pasteuritzar de la llet i formatge. També es troba a la femta de les persones infectades o d’animals domèstics (sobretot ocells i rèptils, però també gossos i gats).</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_31.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>És la causant de la salmonel·losi: una de les intoxicacions alimentàries més comuns. Cada any, segons dades de la organització mundial de la salut (OMS) afecta a desenes de milions de persones a tot el món.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_32.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Els símptomes més comuns són diarrea lleu o severa, febre, dolor abdominal, mal de cap, vòmits… En nens, avis i persones malaltes pot arribar a ser molt greu.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_33.png" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>