<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>¿Dónde se encuentra?</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Qué causa?</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="height">
                        <p>¿Cuáles son sus síntomas?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Es una bacteria que se encuentra a menudo en las carnes (sobretodo aves), en los huevos y en los productos sin pasteurizar de la leche y el queso. También se encuentra en las heces de las personas infectadas o de los animales domésticos (especialmente en pájaros y reptiles, pero también en perros y gatos).</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_31.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Es la causante de la salmonelosis: una de las intoxicaciones alimentarias más comunes. Cada año, según datos de la Organización Mundial de la Salud (OMS) afecta a decenas de millones de personas en todo el mundo.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_32.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Los síntomas más comunes son la diarrea leve o severa, fiebre, dolor abdominal, dolor de cabeza, vómitos... en niños, personas mayores o personas enfermas puede llegar a ser muy grave.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_33.png" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>