<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La contaminación es la presencia de cualquier de estos agentes en la comida:</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Física</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Encontraremos un cuerpo extraño en la comida, puede ser un trozo de plástico, un trozo de guante, tiritas, clips, botones, un pelo, un trozo de pintura que ha caído del techo, etc.</p>
                                <p>Se evita tomando medidas como:</p> 
                                <ul>
                                    <li>Buena higiene de las verduras.</li> 
                                    <li>Tapar siempre la comida.</li>
                                    <li>Buna higiene del manipulador.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Química</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Por contaminación con productos de limpieza por ejemplo: lejía, plaguicidas, etc.</p>
                                <p>Se evita tomando medidas como: </p>
                                <ul>
                                    <li>No consumir setas que no conozcamos bien</li>
                                    <li>Limpiar las frutas y verduras con abundante agua.</li>
                                    <li>No hacer trasvases de líquidos (lejía, jabón, pinturas, etc…) ni en la pica o en los mármoles de la cocina.</li>
                                    <li>Los productos de limpieza NO tienen que estar nunca en la cocina ni en las superficies de trabajo.</li> 
                                    <li>Lavarse bien las manos después de utilizar productos químicos.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Tóxica</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Por ingesta de setas no comestibles, plantas tóxicas… se evita NO consumiendo setas si no estamos seguros de que sean comestibles.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Biológica</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>La contaminación es debida a organismos que causan la enfermedad.</p>
                                <ul>
                                    <li>Se pueden ver a simple vista (insectos).</li>
                                    <li>No se pueden ver a simple vista per están presente: virus, bacterias, hongos, etc. Se encuentran en personas y animales (especialmente en el tracto intestinal, en la piel y en el pelo), en la tierra, el polvo, en los alimentos crudos, en aguas no potables… las causas más graves y más frecuentes son las microbiológicas, es decir, las que son causadas por microorganismos.</li>
                                </ul>
                                <p>¿Cómo evitarlo?</p>
                                <ul>
                                    <li>Buena higiene.</li>
                                    <li>Con una correcta manipulación. Evitar contaminación cruzada.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>													
            </div>
        </div>
    </div>
</div>
