<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La contaminació és la presència de qualsevol d’aquests agents al menjar:</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Física</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Trobarem un cos estrany en el menjar, pot ser des d’un tros de plàstic, un tros de gua, tirites, clips, botons, un cabell, un tros de pintura que ha caigut del sostre, etc.</p>
                                <p>S’evita prenent mesures com:</p>
                                <ul>
                                    <li>Bona higiene de les verdures.</li>
                                    <li>Tapar sempre el menjar.</li>
                                    <li>Bona higiene del manipulador.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Química</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Per contaminació amb productes de neteja per ex: lleixiu, plaguicides, etc.</p>
                                <p>S’evita prenent mesures com:</p>
                                <ul>
                                    <li>No consumir bolets que no coneixem molt bé.</li>
                                    <li>Neteja de les verdures i fuites amb aigua abundant.</li>
                                    <li>No fer transvasaments de líquids (lleixius, sabó, pintures...) en la pica ni marbres de la cuina.</li>
                                    <li>Els productes de neteja NO ha d’estar mai a la cuina ni en superfícies de treball.</li>
                                    <li>Rentar-se bé les mans després d’haver utilitzat productes químics.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Tòxica</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Per ingesta de bolets no comestibles, plantes tòxiques... S’evita NO consumint bolets si no estem segurs que són comestibles.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Biològica</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>La contaminació és deguda a organismes que causen la malaltia.</p>
                                <ul>
                                    <li class="disco">Es poden veure a simple vista (insectes).</li>
                                    <li class="disco">No es veuen a simple vista però hi són: virus, bacteris, fongs, etc. Es troben en persones i animals (sobretot en el tracte intestinal, en la pell i el cabell), a la terra,  la pols, en els aliments crus, en aigües no potables... Les més greus i més freqüents són les microbiològiques, és a dir les que són causades per microorganismes. </li>
                                </ul>
                                <p>Com evitar-ho?</p>
                                <ul>
                                    <li class="disco">Bona higiene.</li>
                                    <li class="disco">Amb una correcte manipulació, Evitar contaminació creuada.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>													
            </div>
        </div>
    </div>
</div>
