<div class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p><b>Toxina</b></p>
            <p>És aquella substància que produeixen alguns microorganismes i que en entrar en contacte amb l’organisme també pot produí una T.I.A.</p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_26.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p><b>Espora</b></p>
            <p>Alguns microorganismes tenen la capacitat de “transformar-se” en espores.</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Què son?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Són un sistema de defensa quan les condicions de vida no són les adequades. El bacteri, quan nota que les condicions son adverses, s’encapsula (són càpsules on hi ha el material genètic del bacteri envoltat de vàries capes protectores).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Com es poden destruir?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Són molt difícils de destruir ja que aguanten molt en condicions desfavorables ja sigui alta i baixa temperatura, falta d’aigua, resistents a químics, a desinfectants i antibiòtics...</p>
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Com sobreviuen?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Sumat a això, les espores es poden mantenir inactives durant molts anys, inclús dècades.</p>
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Com tornen a activar-se?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Quan detecten que milloren les condicions ambientals, es trencaran alliberant el seu contingut.</p>
                            </div>
                        </div>
                    </div>
                </div>													
            </div>
        </div>
    </div>
</div>