<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Quan parlem de MANIPULADOR D’ALIMENTS, ens referim a totes aquelles persones que per la seva activitat laboral tenen contacte directe amb els aliments durant la seva preparació, fabricació, transformació, elaboració, envasat, emmagatzematge, transport, venta, subministrament i servei.</p>
            <p>
                L’activitat d’un manipulador d’aliments és essencial per proporcionar <b>aliments segurs</b>. Per això la seva <b>formació ha d’estar en permanent revisió i actualització</b>, tant per recordar conceptes importants com per posar-se al dia sobre perills alimentaris emergents.
            </p>
            <img src="assets/AMPANS_3.jpeg" alt="">
        </div>
    </div>
</div>