<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>
                Cuando hablamos de MANIPULADOR DE ALIMENTOS, nos referimos a todas aquellas personas que por su actividad laboral tienen contacto directo con los alimentos durante su preparación, fabricación, transformación, elaboración, envasado, almacenaje, transporte, venta, subministro y servicio.
            </p>
            <p>
                La actividad de un manipular de alimentos es esencial para proporcionar <b>alimentos seguros</b>. Por eso su <b>formación tiene que estar en permanente revisión y actualización</b>, tanto para recordar conceptos importantes como para poner-se al día sobre los peligros alimentarios emergentes.
            </p>
            <img src="assets/AMPANS_3.jpeg" alt="">
        </div>
    </div>
</div>