<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <ul>
                <li>la función de las frutas en nuestro organismo es actuar básicamente como alimentos reguladores y nos proporcionan una buena fuente de vitaminas y minerales. </li>
                <li>Las cantidades de azúcar en la fruta son más altas que en las verduras y hortalizas, esto las convierte en alimentos más calóricos.</li>
                <li>Gran parte de la fibra desaparece una vez se pela la fruta.</li>
                <li>Hay que destacar también que en los zumos de fruta envasados, la mayoría de ellos contienen sobretodo azúcar, conservantes y aromatizantes. <b>Estos productos no forman parte de este grupo</b>. </li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_58.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Qué se debe hacer?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Lavarlas con agua potable a presión y fregar con un trapo para quitar: los barnices industriales que les ponen para que brillen, excrementos de algún animal o ave o los residuos que quedan por haber estado en contacto con aguas contaminadas.</li> 
                                    <li>Sumergirlas en agua y desinfectante apto para uso alimentario.</li>
                                    <li>Aclarar con agua potable.</li>
                                    <li>Si se trituran o se hace zumo, hay que consumirlo lo más rápidamente posible para evitar la oxidación y la pérdida de vitaminas.</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>								
            </div>
        </div>
    </div>
</div>