<div class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <ul>
                <li>La funció de les fruites en el nostre organisme és actuar bàsicament com a aliments reguladors i ens proporcionen una bona font de vitamines i minerals.</li>
                <li>Les quantitats de sucres a la fruita són més altes que en les verdures i hortalisses, això les converteix en aliments més calòrics.</li>
                <li>Gran part de la fibra desapareix un cop s’ha pelat la fruita.</li>
                <li>Dir també que els sucs de fruita envasats, la majoria d’ells contenen sobretot sucre, conservants i aromatitzants. <b>Aquests productes no formen part d’aquest grup</b>.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_58.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Què cal fer?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Rentar-les amb aigua potable a pressió i fregar amb un drap per treure: els vernissos industrials que hi posen perquè brillin, excrements d’algun animal o au o els residus que queden per haver estat en contacte amb aigües contaminades.</li>
                                    <li>Submergir-les amb aigua i desinfectant apte per a us alimentari.</li>
                                    <li>Esbaldir amb aigua potable.</li>
                                    <li>Si es trituren o es fa suc, cal consumir-lo el més ràpidament possible per evitar oxidació i pèrdua de vitamines.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>								
            </div>
        </div>
    </div>
</div>