<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Conceptes importants que cal conèixer:</p>
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Aliment</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>
                            És una substància d’origen vegetal, animal, o industrial que pot ser ingerida per nodrir-se o per plaer. 
                        </p>
                    </div>
                </div>
                <div id="info11" class="masInfo">
                    <p (click)="acordeon('#info11');">
                        <span>Nutrients</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>Són substàncies contingudes dins els aliments i que són essencials per poder viure.</p>
                        <p>Els nutrients són les substàncies aprofitables dels aliments (o allò que aporta l'aliment, per dir-ho d'altra manera). Aquestes substàncies són aprofitades per les cèl·lules, que aporten a l'organisme materials i energia, i en regulen les funcions:</p> 
                        <ul>
                            <li><b>Funció energètica</b>: són els glúcids, lípids i proteïnes. Aporten a l'organisme l'energia necessària per a dur a terme les seves funcions.</li>
                            <li><b>Funció plàstica</b>: són les proteïnes i alguns minerals com ara el calci. Aporten a l'organisme els materials que necessita per a formar i renovar les estructures corporals.</li>
                            <li><b>Funció reguladora</b>: són l'aigua, les vitamines i la majoria de minerals. Aconsegueixen que les reaccions químiques del cos es produeixin en el moment i amb la velocitat adequada.</li>
                        </ul>
                    </div>
                </div>					
                <div id="info12" class="masInfo">
                    <p (click)="acordeon('#info12');">
                        <span>Manipulador de risc</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Són les persones que es dediquen a l’elaboració, manipulació de menjars preparats per la venta, subministrament i servei directe al consumidor o a col·lectius. També seran les persones que l’autoritat sanitària competent ho manifesti segons dades epidemiològiques, científiques o tècniques.
                        </p>
                    </div>
                </div>					
                <div id="info13" class="masInfo">
                    <p (click)="acordeon('#info13');">
                        <span>Seguretat alimentària</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Les empreses del sector alimentari tenen la responsabilitat d’oferir aliments saludables però també segurs, i per això tots els manipuladors d’aliments han de rebre una formació seguint la normativa vigent.
                        </p>
                    </div>
                </div>													
                <div id="info14" class="masInfo">
                    <p (click)="acordeon('#info14');">
                        <span>Manipulador d’aliments</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Les persones que tenen contacte directe amb els aliments durant el seu procés de:
                        </p>
                        <ul>
                            <li>Cultiu d’aliments</li>
                            <li>Recepció</li>
                            <li>Elaboració</li>
                            <li>Distribució</li>
                            <li>Preparació</li>
                            <li>Envasat</li>
                            <li>Venda</li>
                            <li>Servei</li>
                            <li>Emplatat</li>
                            <li>Sacrifici d’animals</li>
                            <li>Fabricació</li>
                            <li>Emmagatzematge</li>
                            <li>Subministrament</li>
                            <li>Transformació</li>
                            <li>Transport</li>
                        </ul>
                    </div>
                </div>													
            </div>    
        </div>
    </div>
</div>