<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Conceptos importantes que hay que conocer:</p>
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Alimento</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>
                            Es una substancia de origen vegetal, animal o industrial que puede ser ingerida para nutrirse o por placer. 
                        </p>
                    </div>
                </div>
                <div id="info11" class="masInfo">
                    <p (click)="acordeon('#info11');">
                        <span>Nutrientes</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <p>Son substancias que contienen los alimentos y que son esenciales para poder vivir.</p>
                        <p>Los nutrientes son las substancias aprovechables de los alimentos (o aquello que aporta el alimento, por decirlo de otra forma. Estas substancias son aprovechables para las células, que aportan al organismo materiales y energía, y regulan las funciones: </p>
                        <ul>
                            <li><b>Función energética</b>: son los glúcidos, lípidos y proteínas. Aportan al organismo la energía necesaria para llevar a cabo sus funciones.</li>
                            <li><b>Función plástica</b>: son las proteínas y algunos minerales como el calcio. Aportan al organismo los materiales que necesita para formar y renovar las estructuras corporales. </li>
                            <li><b>Función reguladora</b>: son el agua, las vitaminas y la mayoría de los minerales. Consiguen que las reacciones químicas del cuerpo se produzcan en el momento y la velocidad adecuada.</li>
                        </ul>
                    </div>
                </div>					
                <div id="info12" class="masInfo">
                    <p (click)="acordeon('#info12');">
                        <span>Manipulador de riesgo</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Son las personas que se dedican a la elaboración, manipulación de comidas preparadas para la venta, subministro y servicio directo al consumidor o a colectivos. También serán las personas que la autoridad sanitaria competente manifieste según datos epidemiológicos, científicos o técnicos. 
                        </p>
                    </div>
                </div>					
                <div id="info13" class="masInfo">
                    <p (click)="acordeon('#info13');">
                        <span>Seguridad alimentaria</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Las empresas del sector alimentario tienen la responsabilidad de ofrecer alimentos saludables pero también seguros y, por eso, todos los manipuladores de alimentos tienen que recibir una formación siguiendo la normativa vigente.
                        </p>
                    </div>
                </div>													
                <div id="info14" class="masInfo">
                    <p (click)="acordeon('#info14');">
                        <span>Manipulador de alimentos</span>
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content" >
                        <p>
                            Las personas que tienen contacto directo con los alimentos durante su proceso de:
                        </p>
                        <ul>
                            <li>Cultivo de alimentos</li>
                            <li>Recepción</li>
                            <li>Elaboración</li>
                            <li>Distribución</li>
                            <li>Preparación</li>
                            <li>Envasado</li>
                            <li>Venta</li>
                            <li>Servicio</li>
                            <li>Emplatado</li>
                            <li>Sacrificio de animales</li>
                            <li>Fabricación</li>
                            <li>Almacenaje</li>
                            <li>Subministro</li>
                            <li>Transformación</li>
                            <li>Transporte</li>
                        </ul>
                    </div>
                </div>													
            </div>    
        </div>
    </div>
</div>