<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Què és?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>És un document on es recullen les normes i recomanacions que emeten els diferents organismes oficials per a cada sector de la indústria alimentària. </p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>De què serveix?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>És un marc de referència tant per els responsables de les empreses com pels inspectors sanitaris de l’administració. De forma que s’unifiquen els criteris i les formes d’actuar seran les correctes per a tothom.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Qui els pot utilitzar?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>En general, els responsables de les empreses dels diferents sectors les podran utilitzar de forma voluntària.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
            </div>
        </div>
    </div>
</div>