<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Qué es?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Es un documento donde se recogen las normas y las recomendaciones que emiten los diferentes organismos para cada sector de la industria alimentaria. </p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿De qué sirve?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Es un marco de referencia tanto para los responsables de las empresas como  para los inspectores sanitarios de la administración. De forma que si se unifican los criterios y las formas de actuar, éstas serán las correctas para todo el mundo.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Quién las puede utilizar? </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>En general, los responsables de las empresas de los diferentes sectores las podrán utilizar de forma voluntaria.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
            </div>
        </div>
    </div>
</div>