<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <ul>
                <li>A  temperatura > 65ºC es produeix la mort de la majoria dels microorganismes.</li>
                <li>Però cal revisar la temperatura a l’interior de l’aliment per assegurar que ha arribat a 65ºC. No té res a veure la temperatura que posem el forn amb la temperatura que hi ha dins l’aliment.</li>
                <li>Cal mirar amb termòmetres específics de cuina que es punxen a l’aliment i aquests ens diu la temperatura que té a dins.</li>
            </ul>
        </div>
        <div class="col-50" style="display: flex; justify-content: space-around; align-items: center;">
            <img height="200px" width="auto" src="assets/AMPANS_73.jpg" alt="">
            <img height="200px" width="auto" src="assets/AMPANS_74.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">Però recordeu: les TOXINES NO ES DESTRUEIXEN. S’ha d’evitar la seva presencia en els processos anteriors.</p>
            </div>
        </div>
    </div>
</div>