<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>Se aplican temperaturas muy elevadas.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <ul>
                <li>A temperatura >65º se produce la <b>muerte de la mayoría de los microorganismos</b>.</li>
                <li>Pero hay que <b>revisar la temperatura en el interior del alimento </b> para asegurar que ha llegado a 65º. No tiene nada que ver la temperatura que ponemos en el horno con la temperatura que hay dentro del alimento.</li>
                <li>Hay que mirar con termómetros específicos de cocina que pinchan en alimento y estos nos dice la temperatura que tiene dentro.</li>
            </ul>
        </div>
        <div class="col-50" style="display: flex; justify-content: space-around; align-items: center;">
            <img height="200px" width="auto" src="assets/AMPANS_73.jpg" alt="">
            <img height="200px" width="auto" src="assets/AMPANS_74.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">Pero recordad: las <b>TOXINAS NO SE DESTRUYEN</b>. Se tiene que evitar su presencia en sus procesos anteriores.</p>
            </div>
        </div>
    </div>
</div>