<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 250px" class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>On es troba?</p>
                    </div>
                    <div style="height: 250px" (click)="showTab(1)" [style.height.px]="height">
                        <p>Com el podem evitar?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>No és un microorganisme, és un <b>paràsit</b> (s’observa a simple vista, és un cuc petit ). Es troba al peix i en els cefalòpodes (calamar, pop, sípia…) i pot provocar alteracions digestives i reaccions al·lèrgiques que, en ocasions, poden ser greus.</p>
                            <p>Però només és perillós si es consumeix cru. Un cop cuinat es destrueix del tot.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_53.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Què cal fer si volem consumir el peix cru:</p>
                            <ul style="padding-left: 2rem;">
                                <li>Comprar peix net i sense vísceres o treure-les el més ràpid possible.</li>
                                <li>La cocció destrueix el paràsit, a 60° C de temperatura almenys durant un minut a tota la peça.</li>
                                <li>Si es menja el peix cru o sotmès a preparacions que no maten el paràsit, caldrà congelar-lo prèviament a una temperatura de –20 ºC o inferior durant almenys 5 dies. Pot ser menys dies si la Tª és per sota de -20 (congeladors industrials).</li>
                            </ul>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_54.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>