<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 250px" class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>¿Dónde se encuentra?</p>
                    </div>
                    <div style="height: 250px" (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Cómo podemos evitarlo?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>No es un microorganismo, es un <b>parásito</b> (se observa a simple vista, es un gusano pequeño). Se encuentra en el pescado y en los cefalópodos (calamar, pulpo, sepia..) y puede provocar alteraciones digestivas y reacciones alérgicas que, en ocasiones, pueden ser graves.</p>
                            <p>Solamente es peligroso si se consume en crudo. Una vez cocinado se destruye del todo.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_53.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Qué hay que hacer si queremos consumir pescado crudo:</p>
                            <ul style="padding-left: 2rem;">
                                <li>Comprar el pescado limpio y sin vísceras o quitárselas lo más rápido posible.</li> 
                                <li>La cocción destruye el parásito, a 60ºC de temperatura, al menos durante un minuto en toda la pieza. </li>
                                <li>Si se come el pescado crudo o sometido a preparaciones que no matan al parásito, hay que congelarlo previamente a una temperatura de -20ºC o inferior durante al menos 5 días. Pueden ser menos días si la temperatura es inferior a -20ºC (congeladores industriales)</li>
                            </ul>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_54.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>