<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">És la capacitat que tenen els microorganismes per causar malalties.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>AQUESTA ACCIÓ POT FER-SE PER :</p>
            <ul style="margin-left: 2rem;">
                <li>El mateix organisme</li>
                <li>Per la fabricació de TOXINES</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_25.jpg" alt="">
        </div>
    </div>
</div>
