<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">Es la capacidad que tienen los microorganismos para causar enfermedades.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>ESTA ACCIÓN PUEDE HACERSE POR:</p>
            <ul style="margin-left: 2rem;">
                <li>El mismo organismo</li>
                <li>Por la fabricación de TOXINAS</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_25.jpg" alt="">
        </div>
    </div>
</div>
