<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>ANTES DE SALIR DE CASA:</p>
            <ul>
                <li>Ducharnos diariamente.</li>
                <li>Lavarnos los dientes.</li>
                <li>Utilizar ropa limpia.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_81.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>La higiene diaria permite reducir los microbios que se reproducen en el cuerpo, recordad que la mayoría de las personas llevan <i>stafilococous aureus</i> en su piel...</p>
        </div>
    </div>
</div>