<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>ABANS DE SORTIR DE CASA:</p>
            <ul>
                <li>Dutxar-nos diàriament.</li>
                <li>Rentar-nos les dents.</li>
                <li>Utilitzar roba neta.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_81.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>La higiene diària permet reduir els microbis que es reprodueixen en el cos, recordeu que la majoria de persones porten <i>stafilococous aureus</i> en la seva pell...</p>
        </div>
    </div>
</div>