<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Se tiene que hacer lo más rápido posible     ➡︎         evitar temperaturas peligrosas durante mucho tiempo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-66">
            <p>Utilizar abatidor. Si no puede ser:</p>
            <ul>
                <li>Fraccionar grandes cantidades en paquetes más pequeños</li>
                <li>En baños maría de hielo y agua</li>
            </ul>
        </div>
        <div class="col-33">
            <img src="assets/AMPANS_75.jpg" alt="">
        </div>
    </div>
</div>