<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Cal fer-lo el més ràpid possible     ➡︎         Evitar temperatures perilloses durant molt de temps.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-66">
            <p>Utilitzar abatidor. Si no pot ser:</p>
            <ul>
                <li>Fraccionar grans quantitats en  paquets més petits</li>
                <li>En banys maria de gel i aigua</li>
            </ul>
        </div>
        <div class="col-33">
            <img src="assets/AMPANS_75.jpg" alt="">
        </div>
    </div>
</div>