<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Per això cal tenir molt en compte:</p>
            <ul style="padding-left: 2rem;">
                <li><b>Servir just després de cuinar!!!</b> Millor que s’esperi la gent i no l’aliment !!! I si no es pot, tornar a escalfar per sobre 65º abans de servir</li>
                <li><b>No tornar a congelar res que ja s’hagi descongelat</b> (o cuinar-lo primer per destruir gèrmens abans de tornar a congelar, tot i que llavors també cal tenir en compte que perd qualitats de gust i nutritives)</li>
                <li><b>Descongelar els productes dins la nevera</b> (sobre una reixeta que permeti caure al fons el líquid descongelat de l’aliment) i no a fora malgrat requerirà més temps.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_20.png" alt="">
        </div>
    </div>
</div>