<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Por eso hay que tener muy en cuenta: </p>
            <ul style="padding-left: 2rem;">
                <li><b>¡Servir justo después de cocinar!</b> Mejor que se espere el comensal y no el alimento. Y si no se puede, volver a calentar por encima de 65º antes de servir.</li>
                <li><b>No volver a congelar nada que ya se haya descongelado</b> (o cocinarlo primero para destruir los gérmenes antes de volverlo a congelar, aunque entonces también hay que tener en cuenta que pierde cualidades de gusto y nutritivas).</li>
                <li><b>Descongelar los productos dentro de la nevera</b> (sobre una rejilla que permita que caiga al fondo el líquido descongelado del alimento) y no fuera aunque requiera más tiempo.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_20.png" alt="">
        </div>
    </div>
</div>