<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h3 style="text-align: center; font-size: 32px; margin-bottom: 20px;">AGENTES CONTAMINANTES (cuadro resumen)</h3>
            <table>
                <tr>
                    <th>CONTAMINACIÓN</th>
                    <th>EJEMPLO</th>
                    <th>COMO EVITARLO</th>
                </tr>
                <tr>
                    <td>
                    <p>FÍSICA</p>
                    </td>
                    <td class="fisica">
                    <p>Cristales, cabellos, vidrios, plasticos...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Limpieza de vegetales</li>
                        <li>Alimentos tapados</li>
                        <li>Higiene  manipuladores</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>QUÍMICA</p>
                    </td>
                    <td class="quimica">
                    <p>Lejía, Pesticidas, productos de limpieza...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Limpieza de vegetales</li>
                        <li>No hacer trasvases</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>TÓXICA</p>
                    </td>
                    <td class="boletus">
                    <p>Setas</p>
                    </td>
                    <td>
                    <ul>
                        <li>No consumir si no se conocen MUY BIEN</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>BIOLÓGICA</p>
                    </td>
                    <td class="bio">
                    <p>Bacterias, virus, hongos, parasitos...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Higiene</li>
                        <li>Correcta manipulación</li>
                    </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
