<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h3 style="text-align: center; font-size: 32px; margin-bottom: 20px;">AGENTS CONTAMINANTS (quadre resum)</h3>
            <table>
                <tr>
                    <th>CONTAMINACIÓ</th>
                    <th>EXEMPLE</th>
                    <th>COM EVITAR-HO</th>
                </tr>
                <tr>
                    <td>
                    <p>FÍSICA</p>
                    </td>
                    <td class="fisica">
                    <p>Cristalls, cabells, vidres, plàstics...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Neteja de vegetals</li>
                        <li>Aliments tapats</li>
                        <li>Higiene  manipuladors</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>QUÍMICA</p>
                    </td>
                    <td class="quimica">
                    <p>Lleixiu, Pesticides, productes de neteja...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Neteja de vegetals</li>
                        <li>No fer transvasaments</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>TÒXICS</p>
                    </td>
                    <td class="boletus">
                    <p>Bolets</p>
                    </td>
                    <td>
                    <ul>
                        <li>No consumir si no es coneixen MOLT BE</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>BIOLÒGIC</p>
                    </td>
                    <td class="bio">
                    <p>Bacteris, virus, fongs, paràsits...</p>
                    </td>
                    <td>
                    <ul>
                        <li>Higiene</li>
                        <li>Correcte manipulació</li>
                    </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
