<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">La cadena del fred no s’ha de trencar mai. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100"></div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Com cal transportar-los?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>En <b>vehicles frigorífics</b>:</p>
                                <ul>
                                    <li>FRIGORÍFIC: <b>0º a 4º</b></li>
                                    <li>CONGELADOR: a <b>-18º</b></li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_77.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Què hem de fer amb els productes de càtering?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Utilitzar un medi isotèrmic.</li>
                                    <li>Mesurar <b>temperatura de sortida i d’arribada</b>.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Què cal fer si es perden les temperatures de seguretat?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Caldrà aplicar decisions adequades per disminuir els perills.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Com es faran sempre la càrrega i la descàrrega?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>La càrrega i descàrrega es faran el més ràpid possible.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>