<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">La cadena del frío no debe romper nunca.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100"></div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Cómo hay que transportarlos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>En <b>vehículos frigoríficos</b>:</p>
                                <ul>
                                    <li>FRIGORÍFICO: <b>0º a 4º</b></li>
                                    <li>CONGELADOR: a <b>-18º</b></li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_77.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿qué debemos hacer con los productos de catering?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Utilizar un medio isotérmico.</li>
                                    <li>Medir <b>temperatura de salida y de llegada</b>.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Qué hay que hacer si se pierden las temperaturas de seguridad?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Se tendrán que aplicar decisiones adecuadas para disminuir los peligros.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿Cómo se harán siempre la carga y la descarga?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>La carga y la descarga se harán lo más rápido posible.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>