<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">UNGLES CURTES ( és on s’acumulen més gèrmens i són més difícils d’eliminar).</li>
                <li class="fade-dos">NO JOIES (per la dificultat de rentar bé els raconets que tenen).</li>
                <li class="fade-tres">NO PINTAR LES UNGLES ( s’adhereixen més els gèrmens).</li>
                <li class="fade-cuatro">PROTEGIR LES FERIDES AMB UN APÒSIT IMPERMEABLE.</li>
            </ul>
        </div>
        <div class="col-33">
            <img class="fade-cuatro" src="assets/AMPANS_83.jpg" alt="">
        </div>
    </div>
</div>
