<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66" style="padding-left: 2rem">
            <ul>
                <li>UÑAS CORTAS (es donde se acumulan más gérmenes y son más difíciles de eliminar).</li>
                <li>NO JOYAS (por la dificultad de lavar bien los rinconcitos que tienen).</li>
                <li>NO PINTAR LAS UÑAS (se adhieren más los gérmenes).</li>
                <li>PROTEGER LAS HERIDAS CON UN APÓSITO IMPERMEABLE. </li>
            </ul>
        </div>
        <div class="col-33">
            <img class="fade-cuatro" src="assets/AMPANS_83.jpg" alt="">
        </div>
    </div>
</div>
