$brand-color: #E0684B;
$brand-color-hover: #a54229;
$brand-color-90: rgba(224, 105, 75, 0.9);
$brand-color-80: rgba(224, 105, 75, 0.8);
$brand-color-70: rgba(224, 105, 75, 0.7);
$brand-color-60: rgba(224, 105, 75, 0.6);
$brand-color-50: rgba(224, 105, 75, 0.5);
$brand-color-40: rgba(224, 105, 75, 0.4);
$brand-color-30: rgba(224, 105, 75, 0.3);
$brand-color-20: rgba(224, 105, 75, 0.2);
$brand-color-10: rgba(224, 105, 75, 0.1);
$success-color: #008489;
$warning-color: #ffb822;
$danger-color: #8f0404;
$font-color: #67666e;
$font-color-dark: #1c1c1c;

$main-font: 'Roboto', Arial, sans-serif;
$titles-font: 'Catamaran', Arial, sans-serif;

$medium-device: 860px;
$small-device: 540px;