<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="instructions">Premi sobre les opcions per ampliar la informació.</p>
            <div class="timeline">
                <div class="items">
                    <div class="item selected" (click)="selectItem(1)">ZONES BRUTES</div>
                    <div class="linea-gris"></div>
                    <div class="item" (click)="selectItem(2)">ZONA NETA</div>
                </div>
                <div class="textos">
                    <p class="texto selected">
                        Es treballen amb aliments més contaminats (sense netejar).
                    </p>
                    <p class="texto">
                        A mida que avança el seu procés de higiene (neteja, cocció...). 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;"><b>On es serveix ha de ser la zona més neta.</b></p>
            </div>
        </div>
    </div>
</div>