<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="instructions">Pulse sobre las opciones para ampliar la información.</p>
            <div class="timeline">
                <div class="items">
                    <div class="item selected" (click)="selectItem(1)">ZONAS SUCIAS</div>
                    <div class="linea-gris"></div>
                    <div class="item" (click)="selectItem(2)">ZONA LIMPIA</div>
                </div>
                <div class="textos">
                    <p class="texto selected">
                        Se trabajan los alimentos más contaminados (sin limpiar)
                    </p>
                    <p class="texto">
                        A medida que avanza su proceso de higiene. (Limpieza, cocción)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;"><b>Donde sirvamos la comida tiene que ser la zona más limpia.</b></p>
            </div>
        </div>
    </div>
</div>