<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>CLOSTRIDIUM BOTULINIM</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_44.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTICAS</th>
                    <th>ALIMENTOS</th>
                    <th>PREVENCIÓN</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Forma esporas</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Conservas</li>
                            <li>Embutidos</li>
                            <li>Alimentos envasados al vacío </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Cocción adecuada de los alimentos</li>
                            <li>Usar solamente conservas industriales</li>
                            <li>No aceptar envases hinchados, con mal olor o si desprenden gas al abrirlos</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
