<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>CLOSTRIDIUM BOTULINIM</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_44.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTIQUES</th>
                    <th>ALIMENTS</th>
                    <th>PREVENCIÓ</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>FORMA ESPORES</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>CONSERVES</li>
                            <li>EMBOTITS</li>
                            <li>ALIMENTS ENVASATS AL BUIT</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>COCCIÓ ADEQUADA DELS ALIMENTS</li>
                            <li>NOMÉS UTILITZAR CONSERVES INDUSTRIALS</li>
                            <li>NO ACCEPTAR ENVASOS INFLATS AMB MALA OLOR O SI DESPRENEN GAS A L'OBRIR</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
