<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>ESCHERICHIA COLI</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_41.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTIQUES</th>
                    <th>ALIMENTS</th>
                    <th>PREVENCIÓ</th>
                </tr>
                <tr>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>EL TROBEM A L'APARELL DIGESTIU DE L'HOME i DELS ANIMALS</li>
                            <li>INDICADOR DE CONTAMINACIÓ FECAL</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>CARNS</li>
                            <li>LLET SENSE PASTEURITZAR I DERIVATS</li>
                            <li>VERDURES I HORTALISES REGATS AMB AIGÜES CONTAMINADES</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>CUINAT CORRECTE DELS ALIMENTS</li>
                            <li>MANTENIMENT EN FRED DESL ALIMENTS</li>
                            <li>HIGIENE PERSONAL ESTRICTE</li>
                            <li>HIGIENE ADEQUADA D'INSTAL⋅LACIONS I ÚTILS</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>