<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>ESCHERICHIA COLI</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_41.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTICAS</th>
                    <th>ALIMENTOS</th>
                    <th>PREVENCIÓN</th>
                </tr>
                <tr>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Lo encontramos en el aparato digestivo de los humanos y los animales</li>
                            <li>Indicador de contaminación fecal</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Carnes</li>
                            <li>Leche sin pasteurizar y derivados</li>
                            <li>Verduras y hortalizas regadas con aguas contaminadas</li>
                        </ul>
                    </td>
                    <td>
                        <ul style="padding-left: 2rem">
                            <li>Correcto cocinado de los alimentos</li>
                            <li>Mantener los alimentos en frío</li>
                            <li>Higiene personal estricta</li>
                            <li>Higiene adecuada de instalaciones y utensilios</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>