<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>
                <b>Las bacterias necesitan agua (humedad) para sobrevivir, sin agua no pueden reproducirse</b>.
                Es por eso que los alimentos que tienen poca agua (o los que les quitamos el agua: deshidratando, secando, …), no les hace falta nevera y se guardan durante mucho más tiempo. Por ejemplo: la pasta se guarda bien en la despensa, en cambio la pasta fresca necesita nevera y caduca mucho antes (y la única diferencia es que tiene agua). Igual pasa con las legumbres (secas no hace falta nevera, rehidratadas sí que hace falta), las setas, el arroz, etc...
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="caja-tres">
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">Alimentos crudos y frescos</p>      
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">cámara</p>
                    <img src="assets/AMPANS_22.png" alt="">
                </div>
            </div>
            <div class="caja-tres">
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">Alimentos secos</p>      
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">almacén</p>
                    <img src="assets/AMPANS_23.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>