<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>Els bacteris necessiten l’aigua (humitat) per sobreviure, sense aigua no poden reproduir-se</b>. És per això que els aliments que tenen poca aigua (o els que els hi traiem l’agua: deshidratant, assecant...), no els cal nevera i es guarden durant molt més temps. Per exemple: la pasta es guarda bé al rebost, en canvi la pasta fresca  cal nevera i caduca molt abans (i la única diferència és que té aigua). Igual passa amb els llegums (secs no cal nevera, rehidratats si que cal), els bolets,  l’arròs, etc...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="caja-tres">
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">Aliments cuits i frescos</p>      
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">càmera</p>
                    <img src="assets/AMPANS_22.png" alt="">
                </div>
            </div>
            <div class="caja-tres">
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">Aliments secs</p>      
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 80px; text-align: center;">&rarr;</p>
                </div>
                <div>
                    <p style="color:#E0684B; font-size: 40px; text-align: center;">&darr;</p>
                </div>
                <div>
                    <p class="texto-centrado" style="color: #E0684B; font-size: 30px;">magatzem</p>
                    <img src="assets/AMPANS_23.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>