<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Los microorganismos (como seres vivos que son para desarrolarse necesitan:</p>
            <div style="padding-left: 2rem;">
                <p class="fade-uno">1. ALIMENTO</p>
                <p class="fade-dos">2. TEMPERATURA IDÓNEA</p>
                <p class="fade-tres">3. TIEMPO</p>
                <p class="fade-cuatro">4. AGUA (H<sub>2</sub>O) Y OXÍGENO</p>
                <p class="fade-cinco">5. PH ADECUADO</p>
            </div>
        </div>
    </div>
</div>