<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Els microorganismes (com éssers vius que són) per desenvolupar-se necessiten:</p>
            <div style="padding-left: 2rem;">
                <p class="fade-uno">1. ALIMENT</p>
                <p class="fade-dos">2. TEMPERATURA IDÒNEA</p>
                <p class="fade-tres">3. TEMPS</p>
                <p class="fade-cuatro">4. AIGUA (H2O) i OXIGEN</p>
                <p class="fade-cinco">5. PH ADEQUAT</p>
            </div>
        </div>
    </div>
</div>