<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>LISTERIA MONOCYTOGENS</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_52.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTICAS</th>
                    <th>ALIMENTOS</th>
                    <th>PREVENCIÓN</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>PUEDE CRECER EN FRÍO y en un amplio margen de temperatura (de 1 a 45º)</li>
                            <li>EN ACERO INOXABLE PUEDE HACER UN BIOFILM</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>ALIMENTOS QUE SE CONSUMEN EN FRÍO</li>
                        <li>LECHE CRUDA O CARNE</li>
                        <li>VERDURAS Y HORTALIZAS</li>
                        <li>PESCADO Y MARISCO</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>MANTENER LA CADENA DEL FRÍO</li>
                            <li>RECALENTAR BIEN LOS ALIMENTOS</li>
                            <li>CONSERVAR LA CARNE CRUDA SEPARADA DEL RESTO DE ALIMENTOS</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
