<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div style="display: flex; justify-content: center; align-items: center; padding: 0 0 20px">
                <h3 style="margin-right: 20px; color: #E0684B; font-size: 32px;"><i>LISTERIA MONOCYTOGENS</i></h3>
                <img style="margin-right: 20px; height: 120px; width: auto;" src="assets/AMPANS_52.jpg">
            </div>
            <table>
                <tr>
                    <th>CARACTERÍSTIQUES</th>
                    <th>ALIMENTS</th>
                    <th>PREVENCIÓ</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>POT CRÉIXER EN FRED i en un marge ampli de temperatura (de 1 a 45º)</li>
                            <li>EN ACER INOXIDABLE POT FER UN BIOFILM</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>ALIMENTS QUE ES CONSUMEIXEN EN FED</li>
                            <li>LLET CRUA I CARN</li>
                            <li>HORTALISSES I VERDURES</li>
                            <li>PEIX I MARISC</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>MANTENIR LA CADENA DEL FRED</li>
                            <li>REESCALFAR BÉ ELS ALIMENTS</li>
                            <li>CONSERVAR LA CARN SEPARADA DE LA RESTA D'ALIMENTS</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
