<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>¿Dónde se encuentra?</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Cuáles son sus síntomas?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Esta bacteria se encuentra en los intestinos de humanos y animales, por eso suele ser indicador de contaminación fecal. Se encuentra en alimentos contaminados con materia fecal de animales portadores, en general se asocia a: carnes picadas (hamburguesas, chorizos, etc) mal cocinadas, a zumos de fruta no pasteurizados contaminados (fruta recogida del suelo que ha tocado excrementos de animales o en el propio árbol), a verdura y hortalizas regadas con agua contaminada. </p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_39.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <ul style="padding-left: 2rem;">
                                <li>Dolor abdominal y diarrea acuosa al principio (puede haber presencia de sangre).</li>
	                            <li>Puede provocar insuficiencia renal.</li>
                            </ul>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_40.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>