<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">Todas las operaciones de limpieza están destinadas a reducir el número de microorganismos y evitar la contaminación.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100"></div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="150">
                        <p>LIMPIEZA</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="150">
                        <p>DESINFECCIÓN</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="150">
                        <p>HIGIENIZACIÓN</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Retirar restos de alimentos y suciedad con agua y jabón.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_85.jpg" alt="">
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Destruir los microorganismos que pueda haber en los alimentos, utensilios y superficies.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_86.jpg" alt="">
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>LIMPIEZA + DESINFECCIÓN</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_87.jpg" alt="">
                        </section> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>