<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">Tot això fa que tinguem les mans plenes de bacteris i els puguem transmetre als aliments o a les superfícies de treball.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100"></div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="150">
                        <p>NETEJA</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="150">
                        <p>DESINFECCIÓ</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="150">
                        <p>HIGIENITZACIÓ</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Retirar restes d'aliments i brutícia amb aigua i sabó.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_85.jpg" alt="">
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Destruir els microorganismes que hi pugui haver en aliments, utensilis i superfícies.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_86.jpg" alt="">
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>NETEJA + DESINFECCIÓ</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_87.jpg" alt="">
                        </section> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>