<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>REAL DECRETO 109/2010</b></p>
            <p>Aquesta és la llei que regula les normes dels manipuladors d’aliments.</p>
            <p>Podeu consultar-la al següent enllaç:</p>
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p> <a href="https://www.boe.es/boe/dias/2010/02/19/pdfs/BOE-A-2010-2696.pdf" target="_blank">https://www.boe.es/boe/dias/2010/02/19/pdfs/BOE-A-2010-2696.pdf</a></p>
            </div>
            <img src="assets/libro-de-derecho.svg" style="display: block; margin: 2em auto; width: 200px">    
        </div>
    </div>
</div>