<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Son seres vivos que encontramos en:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Aire</li>
                <li class="fade-dos">Tierra</li>
                <li class="fade-tres">Agua</li>
                <li class="fade-cuatro">Piel</li>
                <li class="fade-cinco">Polvo</li>
                <li class="fade-seis">Mucosas</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-seis" src="assets/AMPANS_11.jpg" alt="">
        </div>
    </div>
</div>
