<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Són éssers vius que trobem a:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Aire</li>
                <li class="fade-dos">Terra</li>
                <li class="fade-tres">Aigua</li>
                <li class="fade-cuatro">Pell</li>
                <li class="fade-cinco">Pols</li>
                <li class="fade-seis">Mucoses</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-seis" src="assets/AMPANS_11.jpg" alt="">
        </div>
    </div>
</div>
