<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>¿Cómo evitar la contaminación cruzada?</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Evitar el contacto entre alimentos crudos y cocinados.</li>
                <li class="fade-dos">Limpiar las superficies y útiles después de cada uso.</li>
                <li class="fade-tres">Limpiarse las manos después de manipular alimentos crudos</li>
                <li class="fade-cuatro">Limpiar la fruta y la verdura con agua potable y desinfectar con gotas de desinfectante alimentario. Después aclararlas bien.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-cuatro" src="assets/AMPANS_62.jpg" alt="">
        </div>
    </div>
</div>