<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>Com evitar la contaminació creuada?</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Evitar contacte entre aliments crus i cuinats.</li>
                <li class="fade-dos">Netejar les superfícies i útils després de cada us.</li>
                <li class="fade-tres">Netejar mans després de manipular aliments crus</li>
                <li class="fade-cuatro">Netejar fruita i verdura amb aigua potable i desinfectar amb gotes de desinfectant alimentari. Després esbaldir be.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-cuatro" src="assets/AMPANS_62.jpg" alt="">
        </div>
    </div>
</div>