<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Quines són les diferents zones? </p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">RECEPCIÓ</li>
                <li class="fade-dos">EMMAGATZEMATGE</li>
                <li class="fade-tres">PREPARACIÓ</li>
                <li class="fade-cuatro">COCCIÓ</li>
                <li class="fade-cinco">REFREDAMENT</li>
                <li class="fade-seis">SERVEI</li>
                <li class="fade-siete">DISTRIBUCIÓ</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-siete" src="assets/AMPANS_64.jpg" alt="">
        </div>
    </div>
</div>