<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>¿Cuáles son las diferentes zonas?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">RECEPCIÓN</li>
                <li class="fade-dos">ALMACENAJE</li>
                <li class="fade-tres">PREPARACIÓN</li>
                <li class="fade-cuatro">COCCIÓN</li>
                <li class="fade-cinco">ENFRIAMIENTO</li>
                <li class="fade-seis">SERVICIO</li>
                <li class="fade-siete">DISTRIBUCIÓN</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-siete" src="assets/AMPANS_64.jpg" alt="">
        </div>
    </div>
</div>