<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Cómo evitar la contaminación cruzada?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Ya deben estar libres de contaminación microbiana. Una contaminación cruzada aquí sería muy peligrosa dado que los alimentos ya no se trataran más.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿Cómo hay que servir los alimentos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Emplear útiles para servir, platos y bandeja siempre limpios (mejor usar lavaplatos).</p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Cómo hay que emplatar?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Tenemos que utilizar gorro, mascarilla y uniforme.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_76.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿A qué temperatura hay que servir los alimentos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Alimentos <b>calientes: servir a + de 65ºC</b>.</li>
                                    <li>Alimentos <b>fríos</b>: servir a <b>- de 8ºC</b>.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info24" class="masInfo">
                    <p (click)="acordeon('#info24');">
                        <span>Hay que vigilar la calidad de los alimentos</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>No servir <b>nunca</b> productos ya caducados.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>