<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Com evitar la contaminació creuada?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Ja <b>han d’estar lliures de contaminació microbiana</b>. Una contaminació creuada seria molt perillosa donat que ja no seran tractatsmés.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Com cal servir els aliments?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Utilitzar útils per a servir, plats i safata sempre nets (millor rentaplats).</p>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Com cal fer l’emplatat?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Hem d’utilitzar gorro, mascareta i uniforme.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_76.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>A quina temperatura hem de servir els aliments?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Aliments <b>calents: servir a + de 65ºC</b>.</li>
                                    <li>Aliments <b>freds</b>: servir a <b>- de 8ºC</b>.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info24" class="masInfo">
                    <p (click)="acordeon('#info24');">
                        <span>Cal vigilar la qualitat dels aliments</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>No servir <b>mai</b> productes ja caducats.</p>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>