<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 150px" class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>¿Qué características especiales tiene?</p>
                    </div>
                    <div style="height: 150px" (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Dónde se encuentra?</p>
                    </div>
                    <div style="height: 150px" (click)="showTab(2)" [style.height.px]="height">
                        <p>¿Cómo prevenirlo?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>La característica que diferencia la Listeria de las otras es que puede crecer en frío, en temperatura de neveras. Puede hacer como un biofilm en la nevera (u otras superficies de trabajo) y contaminar alimentos de consumo directo (por ej. embutidos). También tolera bien los alimentos salinos y Ph ácidos. </p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_49.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Por eso la encontramos en muchos sitios: en el tracto gastrointestinal de los animales, en verduras, derivados lácteos no pasteurizados, pescados y mariscos, en el suelo...</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_50.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <ul style="padding-left: 2rem;">
                                <li>Hay que tapar muy bien los alimentos de consumo directo dentro de la nevera.</li> 
                                <li>Evitar cambios de temperatura de neveras y alimentos. </li>
                                <li>Cocinar muy bien los alimentos.</li>
                                <li>Separar bien en la nevera la carne cruda del resto. </li>
                            </ul>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_51.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>