<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div style="height: 150px" class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>Quines característiques especials té?</p>
                    </div>
                    <div style="height: 150px" (click)="showTab(1)" [style.height.px]="height">
                        <p>On es troba?</p>
                    </div>
                    <div style="height: 150px" (click)="showTab(2)" [style.height.px]="height">
                        <p>Com prevenir-lo?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>La característica que diferencia la Listeria dels altres és que <b>pot créixer en fred, en temperatura de neveres</b>. Pot fer com un biofilm a la nevera (o altres superfícies de treball) i contaminar aliments de consum directe (per ex. embotits).També tolera bé ambients salins i Ph àcids.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_49.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Per això la trobem a molts llocs: al tracte gastrointestinal dels animals, en verdures, derivats làctics no pasteuritzats, peixos i mariscs, al terra...</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_50.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <ul style="padding-left: 2rem;">
                                <li>Cal tapar molt bé els aliments de consum directe dins la nevera.</li>
                                <li>Evitar canvis de temperatura de neveres i aliments.</li>
                                <li>Cuinar molt bé els aliments</li>
                                <li>Separar bé en la nevera la carn crua de la resta</li>
                            </ul>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_51.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>