<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <table>
                <tr>
                    <th>PRODUCTE</th>
                    <th>Tª DE CONSERVACIÓ</th>
                </tr>
                <tr>
                    <td class="conserves">
                        <p>CONSERVES, ESPECIES, FARINAS, LLEGUMS...</p>
                    </td>
                    <td>
                        <p>Tº AMBIENT</p>
                    </td>
                </tr>
                <tr>
                    <td class="fruita">
                        <p>FRUITA I VERDURA</p>
                    </td>
                    <td>
                        <p>DE 8 A 10ºC</p>
                    </td>
                </tr>
                <tr>
                    <td class="peix">
                        <p>PEIX, MARISC, CARN, POLLASTRE, LÀCTICS, FORMATGE, EMBOTITS</p>
                    </td>
                    <td>
                        <p>DE 0 A +4ºC</p>
                    </td>
                </tr>
                <tr>
                    <td class="productes">
                        <p>PRODUCTES CONGELATS</p>
                    </td>
                    <td>
                        <p>INFERIOR A -18ºC</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
