<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <table>
                <tr>
                    <th>PRODUCTE</th>
                    <th>Tª DE CONSERVACIÓN</th>
                </tr>
                <tr>
                    <td class="conserves">
                        <p>CONSERVAS, ESPECFIAS, HARINA, LEGUMBRES...</p>
                    </td>
                    <td>
                        <p>Tº AMBIENTE</p>
                    </td>
                </tr>
                <tr>
                    <td class="fruita">
                        <p>FRUTA Y VERDURA</p>
                    </td>
                    <td>
                        <p>DE 8 A 10ºC</p>
                    </td>
                </tr>
                <tr>
                    <td class="peix">
                        <p>PESCADO, MARISCO, CARNE, POLLO, LÁCTEOS, QUESO, EMBUTIDOS.</p>
                    </td>
                    <td>
                        <p>DE 0 A +4ºC</p>
                    </td>
                </tr>
                <tr>
                    <td class="productes">
                        <p>PRODUCTOS CONGELADOS</p>
                    </td>
                    <td>
                        <p>INFERIOR A -18ºC</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
