<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="actividades mostrada">
                <h3>Resultats</h3>
                <hr>
                <div style="display: flex; margin: 0; padding: 0;">
                    <div class="col-50 columna">
                        <div class="resultado">
                            <span *ngIf="results[0]"><img src="assets/img/iconos/check-circle.svg"></span>
                            <span *ngIf="!results[0]"><img src="assets/img/iconos/x-circle.svg"></span>
                            <div>
                                <p>PREGUNTA 10</p>
                                <p *ngIf="results[0]">Correcta </p>
                                <p *ngIf="!results[0]">Incorrecta </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-50 doble-centrada">
                        <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [options]="doughnutChartOptions"
                                [chartType]="doughnutChartType"
                                [colors]="doughnutChartColors">
                        </canvas>
                    </div>
                </div>
                <div class="mensaje-final">
                    <p class="pass" *ngIf="pass">{{mensaje}}</p>
                    <p class="not-pass" *ngIf="!pass">{{mensaje}}</p>
                    <button *ngIf="!pass" class="outline" (click)="reset()">Repassar</button>
                </div>
            </div>
        </div>
    </div>
</div>