<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>Normas principales para los manipuladores</b></p>
            <p>Real decreto 202/2000</p>
            <p>Si haces clic en el siguiente podrás acceder al Real decreto 202/2000.</p>
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p> <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2000-3761" target="_blank">https://www.boe.es/buscar/doc.php?id=BOE-A-2000-3761</a></p>
            </div>
            <img src="assets/AMPANS_79.jpg" style="display: block; margin: 0 auto;">    
        </div>
    </div>
</div>