<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">La recepción de mercaderías es la zona más contaminada: contaminación de origen.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100"></div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>Alimentos que no necesitan frío</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>Alimentos que necesitan frío</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Hablamos de conservas, legumbres, harinas...</p>
                            <ul>
                                <li><b>Nunca en el suelo</b>  ni tocando la pared posterior ➡︎ Circulación de aire.</li>
                                <li><b>Se tienen que ordenar según el tipo</b>: carne, lácticos, huevos, fruta y verdura.</li>
                                <li><b>Separar los productos de limpieza de los alimentos</b> en almacenes diferentes   ➡︎         Tóxicos </li>  
                                <li><b>Sacar el embalaje del transporte</b></li>
                                <li><b>Todos los productos deben estar identificados:</b>:
                                    <ul>
                                        <li><b>Envasados</b>: apuntar el día de apertura.</li>
                                        <li><b>Fresco</b>: identificar el día de llegada.</li>
                                        <li><b>Frescos congelados</b>: identificar el día de congelación.</li>
                                    </ul>
                                </li>
                                <li><b>Se tienen que proteger o tapar</b>.</li>
                            </ul>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_65.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <ul>
                                <li>Se tienen que <b>separar de los crudos cocinados.</b></li>
                                <li><b>No sobrepasar la capacidad del frigorífico</b></li>
                                <li><b>Seguir el sistema de “p.s.p.e” =</b> primero sale el que primero entra.</li>  
                                <li><b>Comprobar siempre las Tº de neveras y congeladores</b>.</li>
                            </ul>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_66.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>