<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">La <b>limpieza siempre tiene que ser húmeda</b>. No barrer nunca en seco.</li>
                <li class="fade-dos">Hay que <b>limpiar diariamente suelo, paredes y superficies de trabajo con los productos específicos homologados para tal uso.</b></li>
                <li class="fade-tres">Los equipos como <b>hornos y freidoras se tienen que limpiar diariamente</b>, y una vez a la semana meticulosamente.</li>
                <li class="fade-cuatro">Siempre hay que usar <b>agua caliente potable</b>.</li>
                <li class="fade-cinco">Los <b>productos de limpieza y desinfección se tienen que guardar correctamente identificados</b>y convenientemente separados de los alimentos.</li>
                <li class="fade-seis"><b>No se tiene que mezclar jabón con lejía</b>  (sí productos limpiadores desinfectantes preparados).</li>
                <li class="fade-siete">Las picadoras, túrmix, robots, etc... <b>se tienen que desmontar, limpiar y desinfectar siempre después de su uso</b>.</li>
                <li class="fade-ocho">Cuando utilicemos el lavaplatos: hay que <b>eliminar primero los restos de comida </b> que hayan quedado del lavado anterior y no poner platos con restos de comida dentro.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-ocho" src="assets/AMPANS_90.jpg" alt="">
        </div>
    </div>
</div>