<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">La <b>neteja s’ha de fer sempre humida</b>. No escombrar mai en sec.</li>
                <li class="fade-dos">Cal <b>netejar diàriament terra, parets i superfícies de treball amb els productes específics homologats per a tal us.</b></li>
                <li class="fade-tres">Els equips com <b>forns i fregidores s’han de netejar diàriament</b>, i un cop a la setmana meticulosament. </li>
                <li class="fade-cuatro">Sempre utilitzar <b>aigua calenta potable</b>.</li>
                <li class="fade-cinco">Els <b>productes de neteja i desinfecció s’han de guardar correctament identificats</b> i convenientment separats dels aliments.</li>
                <li class="fade-seis"><b>No s’ha de barrejar sabó amb lleixiu </b> (si productes netejadors desinfectants preparats).</li>
                <li class="fade-siete">Les picadores, túrmix, robots, etc... <b>s’han de desmuntar, netejar i desinfectar sempre després del seu us</b>.</li>
                <li class="fade-ocho">Quan utilitzem el rentavaixelles: s’han <b>d’eliminar en primer lloc les restes de menjar </b> que hagin quedat de la rentada anterior i no posar plats amb restes de menjar a dins.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-ocho" src="assets/AMPANS_90.jpg" alt="">
        </div>
    </div>
</div>