<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Les empreses del sector alimentari són les responsable de garantir que es comercialitzin els aliments de forma segura. Una pràctica per complir aquesta obligació es realitzar un autocontrol.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>Els diferents <b>autocontrols</b> son:</p>
            <ol>
                <li>CONTROL DE L’AIGUA</li>
                <li>CONTROL DE  NETEJA I DESINFECCIÓ</li>
                <li>CONTROL DE PLAGUES</li>
                <li>CONTROL DE PROVEÏDORS I MATERIES PRIMERES</li>
                <li>CONTROL DE TEMPERATURES</li>
                <li>CONTROL DE CAPACITACIÓ DE MANIPULADORS (formació de personal)</li>
                <li>CONTROL DE MANTENIMENT INSTAL·LACIONS I EQUIPS</li>
                <li>CONTROL DE LA TRAÇABILITAT</li>
                <li>CONTROL DE AL·LÈRGENS</li>
                <li>CONTROL DE RESIDUS</li>
            </ol>
        </div>
    </div>
</div>