<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Las empresas del sector alimentario son las responsables de garantizar que se comercialicen los alimentos de forma segura. Una práctica para cumplir con esta obligación es realizar un autocontrol. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p>Los diferentes <b>autocontroles</b> son:</p>
            <ol>
                <li>CONTROL DEL AGUA</li>
                <li>CONTROL DE LA  LIMPIEZA Y DESINFECCIÓN</li>
                <li>CONTROL DE PLAGAS</li>
                <li>CONTROL DE PROVEEDORES Y MATERIAS PRIMAS</li>
                <li>CONTROL DE TEMPERATURAS</li>
                <li>CONTROL DE CAPACITACION DE MANIPULADORES (formación de personal)</li>
                <li>CONTROL DE MANTENIMENTO INSTALACIONES Y EQUIPOS</li>
                <li>CONTROL DE LA TRAZABILIDAD</li>
                <li>CONTROL DE ALÉRGENOS</li>
                <li>CONTROL DE RESIDUOS</li>
            </ol>
        </div>
    </div>
</div>