<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <img src="assets/escala.png" alt="">
        </div>
        <div class="col-50">
            <p><b>Es una medida que nos dice el grado de acidez o de alcalinidad de un alimento</b>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Los microorganismos, EN MEDIDAS EXTREMAS, cuando más se acercan a los dos extremos (0 Y 14) NO PUEDEN sobrevivir.</p>
            <p>Por ejemplo: conservas en escabeche, con vinagre... nuestros antepasados ya observaron que añadiendo ácidos a los alimentos se conservaban por más tiempo.</p>     
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_24.jpg" alt="">
        </div>
    </div>
</div>