<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h1><b>LO QUE DEFINE LA CALIDAD ES:</b></h1>
            <ul>
                <li>SABOR <span style="font-size: 18px; color: green"> ⬅︎ DETECTADO POR EL USUARIO</span></li>
                <li>ASPECTO <span style="font-size: 18px; color: green"> ⬅︎ DETECTADO POR EL USUARIO</span></li>
                <li>EQUILIBRIO NUTRICIONAL... <span style="font-size: 18px; color: green">⬅︎ DETECTADO POR EL USUARIO</span></li>
                <li>SEGURIDAD ALIMENTARIA. 
                    <span style="font-size: 18px"> UNO DE LOS ELEMENTOS QUE CARACTERITZAN LA CALIDAD Y 
                        <span style="color: green">NO ES PERCIBIDO POR EL CONSUMIDOR</span>:
                    </span>
                </li>
            </ul>
            <h1 style="font-size: 3rem; text-align: center;">INOCUIDAD ALIMENTARIA  <b style="font-size: 4rem; color: green">☑︎</b></h1>
        </div>
    </div>
</div>