<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h1><b>EL QUE DEFINEIX LA QUALITAT ÉS:</b></h1>
            <ul>
                <li>SABOR | <b>DETECTAT PER L’USUARI</b></li>
                <li>ASPECTE | <b>DETECTAT PER L’USUARI</b></li>
                <li>EQUILIBRI NUTRICIONAL... | <b>DETECTAT PER L’USUARI</b></li>
                <li>SEGURETAT ALIMENTÀRIA | UN DELS ELEMENTS QUE CARACTERITZEN LA QUALITAT I <b>NO ES PERCEB PER EL CONSUMIDOR</b>:</li>
            </ul>
            <h1 style="font-size: 3rem; text-align: center;">INNOCUÏTAT ALIMENTARIA  <b style="font-size: 4rem">☑︎</b></h1>
        </div>
    </div>
</div>