<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h1><b>EL QUE DEFINEIX LA QUALITAT ÉS:</b></h1>
            <ul>
                <li>SABOR <span style="font-size: 18px; color: green"> ⬅︎ DETECTAT PER L’USUARI</span></li>
                <li>ASPECTE <span style="font-size: 18px; color: green"> ⬅︎ DETECTAT PER L’USUARI</span></li>
                <li>EQUILIBRI NUTRICIONAL... <span style="font-size: 18px; color: green">⬅︎ DETECTAT PER L’USUARI</span></li>
                <li>SEGURETAT ALIMENTÀRIA. 
                    <span style="font-size: 18px"> UN DELS ELEMENTS QUE CARACTERITZEN LA QUALITAT I 
                        <span style="color: green">NO ES PERCEB PER EL CONSUMIDOR</span>:
                    </span>
                </li>
            </ul>
            <h1 style="font-size: 3rem; text-align: center;">INNOCUÏTAT ALIMENTARIA  <b style="font-size: 4rem; color: green">☑︎</b></h1>
        </div>
    </div>
</div>