<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h2>REGLAS DE ORO DE LA O.M.S.</h2>
            <ol>
                <li class="fade-uno">ESCOGER ALIMENTOS TRATADOS O MANIPULADOS HIGIENICAMENTE</li>
                <li class="fade-dos">COCINAR CORRECTAMENTE LOS ALIMENTOS</li>
                <li class="fade-tres">CONSUMIR INMEDIATAMENTE LOS ALIMENTOS COCINADOS</li>
                <li class="fade-cuatro">GUARDAR ATENTAMENTE LOS ALIMENTOS COCINADOS</li>
                <li class="fade-cinco">RECALENTAR CORRECTAMENTE LOS ALIMENTOS</li>
                <li class="fade-seis">EVITAR EL CONTACTO ENTRE ALIMENTOS CRUDOS Y COCINADOS</li>
                <li class="fade-siete">LAVARSE LAS MANOS A MENUDO/li>
                <li class="fade-ocho">MANTENER ESCRUPULOSAMENTE LIMPIAS TODAS LAS SUPERFICIES DE LA COCINA</li>
                <li class="fade-nueve">MANTENER LOS ALIMENTOS FUERA DEL ALCANCE DE INSECTOS, ROEDORES Y OTROS ANIMALES</li>
                <li class="fade-diez">UTILIZAR AGUA POTABLE</li>
            </ol>
        </div>
    </div>
</div>