<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h2>REGLES D’OR DE LA O.M.S.</h2>
            <ol>
                <li class="fade-uno">ESCOLLIR ALIMENTS TRACTATS O MANIPULATS  HIGIÈNICAMENT</li>
                <li class="fade-dos">CUINAR CORRECTAMENT ELS ALIMENTS</li>
                <li class="fade-tres">CONSUMIR IMMEDIATAMENT ELS ALIMENTS CUINATS</li>
                <li class="fade-cuatro">GUARDAR ACURADAMENT ELS ALIMENTS CUINATS</li>
                <li class="fade-cinco">RESCALFAR CORRECTAMENT ALS ALIMENTS</li>
                <li class="fade-seis">EVITAR CONTACTE ENTRE ALIMENTS CRUS I CUITS</li>
                <li class="fade-siete">RENTAR-SE LES MANS SOVINT</li>
                <li class="fade-ocho">MANTENIR ESCRUPULOSAMENT NETES TOTES   LES SUPERFÍCIES DE LA CUINA</li>
                <li class="fade-nueve">MANTENIR ELS ALIMENTS FORA DE L’ABAST D’INSECTES, ROSEGADORS I ALTRES ANIMALS</li>
                <li class="fade-diez">UTILITZAR AIGUA POTABLE</li>
            </ol>
        </div>
    </div>
</div>