<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="tia" style="text-align: center;">
                <span>T</span><span class="resto">oxi&nbsp;</span> 
                <span>I</span><span class="resto">nfecció&nbsp;</span>
                <span>A</span><span class="resto">limentària&nbsp;</span>
            </p>
            <p class="texto-after">
                És tota aquella infecció transmesa pels aliments. Conjunt de malalties gastrointestinals agudes transmeses per aliments contaminats pel creixement de microorganismes patògens o per l’alliberació de les seves toxines. Presenten símptomes bàsicament digestius: vòmits, diarrea, febre… fins i tot poden causar la mort.
            </p>
            <div class="cita after">
                <p>
                    <img src="assets/img/iconos/check-circle.svg" style="width: 40px">
                </p>
                <p style="text-align: center;"> <b>Els aliments actuen com transportadors d’agents contaminants.</b></p>
                <p style="text-align: center;"> <b>És un dels problemes  de la salut pública més importants !!!</b></p>
            </div>	
        </div>
    </div>
</div>