<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="tia" style="text-align: center;">
                <span>T</span><span class="resto">oxi&nbsp;</span> 
                <span>I</span><span class="resto">nfecciones&nbsp;</span>
                <span>A</span><span class="resto">limentariaa&nbsp;</span>
            </p>
            <p class="texto-after">
                Es toda aquella infección transmitida por los alimentos. El conjunto de enfermedades gastrointestinales agudas transmitidas por alimentos contaminados por el crecimiento de microorganismos patógenos o per la liberación de sus toxinas. Presentan síntomas básicamente digestivos: vómitos, diarrea, fiebre… hasta pueden causar la muerte.
            </p>
            <div class="cita after">
                <p>
                    <img src="assets/img/iconos/check-circle.svg" style="width: 40px">
                </p>
                <p style="text-align: center;"> <b>Los alimentos actúan como transportadores de agentes contaminantes.</b></p>
                <p style="text-align: center;"> <b>¡Es uno de los problemas de la salud pública más importantes!</b></p>
            </div>	
        </div>
    </div>
</div>