<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p><b>Què significa APPCC?</b></p>
                <p>ANALISIS DE PERILLS I PUNTS CRÍTICS DE CONTROL</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="display: block; margin: 0 auto;" src="assets/AMPANS_93.jpg" alt="">
        </div>
    </div>
</div>