<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>SE PRODUCE CUANDO LOS AGENTES CONTAMINANTES PASAN DE UN ALIMENTO A OTRO A TRAVÉS DE:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Útiles y superficies</li>
                <li class="fade-dos">Manos sucias del manipulador</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-dos" src="assets/AMPANS_61.jpg" alt="">
        </div>
    </div>
</div>