<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>ES PRODUEIX QUAN ELS AGENTS CONTAMINANTS PASSEN D’UN ALIMENT A UN ALTRE A TRAVÉS DE:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Útils i Superficies</li>
                <li class="fade-dos">Mans brutes del manipulador</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-dos" src="assets/AMPANS_61.jpg" alt="">
        </div>
    </div>
</div>