<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Hay que:</p>
            <ul>
                <li>Ponernos el uniforme.</li>
                <li>Cambiarnos el calzado.</li>
                <li>Sacarnos las joyas</li>
                <li>El pelo recogido o usar gorro.</li>
                <li>Lavarnos las manos.</li> 
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_82.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Importante</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-10">
                                <ul>
                                    <li>La ropa y el calzado que llevamos en la calle pueden transportar microbios al lugar de trabajo. El uniforme de trabajo es un protector  y debe estar siempre limpio, especialmente el delantal.</li>
                                    <li>Un calzado limpio y el talón bajo es más cómodo y seguro.</li>
                                    <li>Las joyas acumulan suciedad, son soporte de microbios y pueden producir accidentes con la maquinaria.</li>
                                    <li>En el pelo, como en el resto de la piel, hay bacterias.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>