<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>Cal:</p>
            <ul>
                <li>Posar-nos l’uniforme.</li>
                <li>Canviar-nos de calçat.</li>
                <li>Treure’ns les joies.</li>
                <li>Els cabells, amb gorro, o bé recollits.</li>
                <li>Rentar-nos les mans.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_82.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Important</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-10">
                                <ul>
                                    <li>La roba i el calçat que portem del carrer poden transportar microbis al lloc de treball. L’uniforme de treball és un protector i ha d’estar sempre net, especialment el davantal</li>
                                    <li>Un calçat tancat i de taló baix és més còmode i segur.</li>
                                    <li>Les joies acumulen brutícia, són suport de microbis i poden produir accidents amb la maquinària.</li>
                                    <li>Als cabells, com a la resta de la pell hi ha bacteris.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>