<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p><b>Espora</b></p>
            <p>Algunos microorganismos tienen la capacidad de “transformarse” en esporas.</p>
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Qué son?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Son un sistema de defensa cuando las condiciones de vida no son las adecuadas. La bacteria, cuando nota que las condiciones son adversas, se encapsula (son cápsulas donde hay el material genético de la bacteria rodeado de varias capas protectoras).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿Cómo se pueden destruir?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Son muy difíciles de destruir ya que aguantan mucho en condiciones desfavorables ya sea alta o baja temperatura, falta de agua, resistencia a químicos, a desinfectantes y a antibióticos...</p>
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Cómo sobreviven?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Sumando a esto, las esporas se pueden mantener inactivas durante muchos años, incluso décadas.</p>
                            </div>
                        </div>
                    </div>
                </div>					
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿Cómo vuelven a activarse?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Cuando detectan mejoras en las condiciones ambientales, se romperán liberando su contenido.</p>
                            </div>
                        </div>
                    </div>
                </div>													
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">¡Esto hace que sea casi imposible eliminarlas!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-66">
            <p>Las bacterias que producen esporas suelen pertenecer a los géneros  <i>sporolactobacillus, clostridium y bacillus</i>. Generalmente estas bacterias se encuentran en el suelo.</p>
        </div>
        <div class="col-33">
            <img src="assets/AMPANS_27.jpg" alt="">
        </div>
    </div>
</div>