<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">Això fa que quasi sigui impossible eliminar-les !!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Els bacteris que produeixen espores solen pertànyer als gèneres <i>sporolactobacillus, clostridium y bacillus</i>. Generalment aquestes bactèries es troben al terra.</p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_27.jpg" alt="">
        </div>
    </div>
</div>