<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>No tots els microorganismes són dolents, n’hi ha de:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p class="instructions">Fes clic a cada imatge per veure tota la informació</p>
            <div class="flexy">
                <div class="flip-card" (click)="flip(1)">
                    <div class="front-card">
                        <img src="assets/AMPANS_13.jpg">
                        <p class="orange-text">
                            Beneficiosos 
                        </p>
                    </div>
                    <div class="back-card">
                        <p>Els trobem per exemple en els iogurts (bifidus actiu) i ens ajuden a regular la nostra flora intestinal.</p>
                    </div>
                </div>                               
                <div class="flip-card" (click)="flip(2)">
                    <div class="front-card">
                        <img src="assets/AMPANS_14.png">
                        <p class="orange-text">
                            Alterants
                        </p>
                    </div >
                    <div class="back-card">
                        <p>En grans quantitats a l’aliment poden fer canviar-li el color, olor, gust o textura. Per això és fàcil identificar que l’aliment no es pot consumir. Són els responsables de la putrefacció i la descomposició.</p>
                    </div>
                </div>
                <div class="flip-card" (click)="flip(3)">
                    <div class="front-card">
                        <img src="assets/AMPANS_15.jpg">
                        <p class="orange-text">
                            Patògens 
                        </p>
                    </div >
                    <div class="back-card">
                        <p>Aquests són el més perillosos ja que són molt difícils de detectar perquè no alteren ni el color, ni l’olor, ni el gust ni l’aspecte de l’aliment (serien els causants de la salmonel·losi, listeriosi, botulisme, etc...). També produeixen malalties tals com la grip, el xarampió i la T.I.A.</p>
                        <p>Com molt bé diu el seu nom, aquests microorganismes no es veuen i no els podem detectar, REPETIM: NO alteren ni el gust ni l’olor ni l’aparença del menjar, per això per poder combatre’ls cal conèixer-los molt bé!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">Si coneixem a “l’enemic” i sabem els seus punts dèbils podrem guanyar la batalla contra ells segur !! </p>
            </div>
        </div>
    </div>
</div>
