<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>No todos los microorganismos son malos, los hay:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p class="instructions">Haz clic en cada imagen para ver toda información</p>
            <div #flexyNotIe class="flexy">
                <div class="flip-card" (click)="flip(1)">
                    <div class="front-card">
                        <img src="assets/AMPANS_13.jpg">
                        <p class="orange-text">
                            Beneficiosos 
                        </p>
                    </div>
                    <div class="back-card">
                        <p>Los encontramos por ejemplo en yogures (bífidus activo) y nos ayudan a regular nuestra flora intestinal.</p>
                    </div>
                </div>                               
                <div class="flip-card" (click)="flip(2)">
                    <div class="front-card">
                        <img src="assets/AMPANS_14.png">
                        <p class="orange-text">
                            Alterantes
                        </p>
                    </div >
                    <div class="back-card">
                        <p>En grandes cantidades, pueden hacer cambiar el color, olor, gusto o textura del alimento. Por eso es fácil de identificar que el alimento no se puede consumir. Son los responsables de la putrefacción y la descomposición.</p>
                    </div>
                </div>
                <div class="flip-card" (click)="flip(3)">
                    <div class="front-card">
                        <img src="assets/AMPANS_15.jpg">
                        <p class="orange-text">
                            Patógenos 
                        </p>
                    </div >
                    <div class="back-card">
                        <p>Estos son más peligrosos ya que son muy difíciles de detactar porque <b>no alteran ni el color, ni el olor, ni el gusto, ni el aspecto del alimento</b> (serían los causantes de la salmonelosi, lesteriosi, botulismo, etc...). También producen enfermedades tales como la gripe, el charampión y la T.I.A.</p>
                        <p>Como bien dice su nombre, estos microorganismos no se ven y no los podemos detectar, <b>REPETIMOS. NO alteran ni el gusto, ni el olor, ni el aspecto de la comida, ¡por eso para poder combatirlos se los tiene que conocer muy bien!</b></p>
                    </div>
                </div>
            </div>
            <div #flexyIe class="flexy">
                <div class="ie-card" (click)="flipIE(1)">
                    <div class="ie-front-card">
                        <img src="assets/AMPANS_13.jpg">
                        <p class="orange-text">
                            Beneficiosos 
                        </p>
                    </div>
                    <div class="ie-back-card">
                        <p>Los encontramos por ejemplo en yogures (bífidus activo) y nos ayudan a regular nuestra flora intestinal.</p>
                    </div>
                </div>                               
                <div class="ie-card" (click)="flipIE(2)">
                    <div class="ie-front-card">
                        <img src="assets/AMPANS_14.png">
                        <p class="orange-text">
                            Alterantes
                        </p>
                    </div >
                    <div class="ie-back-card">
                        <p>En grandes cantidades, pueden hacer cambiar el color, olor, gusto o textura del alimento. Por eso es fácil de identificar que el alimento no se puede consumir. Son los responsables de la putrefacción y la descomposición.</p>
                    </div>
                </div>
                <div class="ie-card" (click)="flipIE(3)">
                    <div class="ie-front-card">
                        <img src="assets/AMPANS_15.jpg">
                        <p class="orange-text">
                            Patógenos 
                        </p>
                    </div >
                    <div class="ie-back-card">
                        <p>Estos son más peligrosos ya que son muy difíciles de detactar porque <b>no alteran ni el color, ni el olor, ni el gusto, ni el aspecto del alimento</b> (serían los causantes de la salmonelosi, lesteriosi, botulismo, etc...). También producen enfermedades tales como la gripe, el charampión y la T.I.A.</p>
                        <p>Como bien dice su nombre, estos microorganismos no se ven y no los podemos detectar, <b>REPETIMOS. NO alteran ni el gusto, ni el olor, ni el aspecto de la comida, ¡por eso para poder combatirlos se los tiene que conocer muy bien!</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center; color: #E0684B">¡Si conocemos a "el enemigo" y sabemos sus puntos débiles podremos ganar la batalla contra ellos seguro!</p>
            </div>
        </div>
    </div>
</div>
