<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>Definición</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Cómo realizar el control diario de cloro?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-100">
                            <p>Según el Real Decreto 140/2003, es el control de cloro residual de todas las aguas utilizadas con finalidad de fabricación, conservación o comercialización de productos alimentarios o substancias destinadas al consumo humano así como las utilizadas en la limpieza de superficies.</p>
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <ol type="a">
                                <li>Es necesario disponer de un <b>kit de cloro residual</b> (Escala de hasta 2 ppm).</li>
                                <li>En el momento de <b>tomar la muestra</b> se tiene que dejar salir un poco de agua (15-20’’) y tomar la medida en el inicio de la jornada laboral. El cloro es un agente que se evapora fácilmente y por lo tanto, el momento ideal para realizar la muestra es el inicio de la jornada laboral.</li>
                            </ol>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_94.jpg" alt="">
                        </section> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>