<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>¿Dónde se encuentra?</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>¿Qué causa y cuáles son sus síntomas?</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="height">
                        <p>¿Cómo lo prevenimos?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>Es el nombre de una especie de bacteria que se encuentra habitualmente en el suelo y es la productora de la TOXINA BUTOLINICA, agente causante del botulismo.</p> 
                            <p>Este microorganismo tiene forma de varita y se desarrolla mejor en condiciones de poco oxígeno. Las bacterias, cuando notan que las condiciones le son adversas, forman ESPORAS que las permiten sobrevivir en un estado latente hasta ser expuestas a condiciones que puedan sostener su crecimiento. Pueden estar así por mucho tiempo.</p> 
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_42.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-100">
                            <p>El botulismo es el tipo de intoxicación alimentaria más grave; con frecuencia resulta mortal y se produce después de ingerir alimentos que contienen la neurotoxina producida por la bacteria <i>clostridium botulinum</i>.</p>
                            <p>Sus síntomas son: diarrea, náuseas, vómitos y parálisis muscular que puede llevar a la muerte.</p>
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Haremos prevención cocinando bien los alimentos y desestimando conservas caseras de las que no sabemos el origen o envases hinchados que al abrir desprenden gas o hacen mal olor. </p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_43.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>