<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>On es troba?</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>Quins són els seus símptomes?</p>
                    </div>
                    <div (click)="showTab(2)" [style.height.px]="height">
                        <p>Com el prevenim?</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-50">
                            <p>És el nom d'una espècie de bacteri que es troba en general en el terra i és productor de la TOXINA BOTULINICA, l'agent causal del botulisme.</p>
                            <p>Aquest microorganisme té forma de vareta i es desenvolupa millor en condicions de poc oxigen. Els bacteris, quan noten que les condicions li son adverses, formen ESPORES que els permeten sobreviure en un estat latent fins a ser exposades a condicions que puguin sostenir el seu creixement. Poden estar així molt de temps.</p>
                        </section> 
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_42.jpg" alt="">
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-100">
                            <p>El <b>botulisme</b> és el tipus més greu d’intoxicació alimentària; amb freqüència és mortal i es produeix després d'ingerir aliment que conté neurotoxina produïda pel bacteri <i>clostridium botulinum</i>.</p>
                            <p>Els seus símptomes són: diarrea, nàusees, vòmits i paràlisi muscular que pot portar a la mort.</p>
                        </section>
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-50">
                            <p>Farem prevenció cuinant bé els aliments i desestimant conserves casolanes que no en sabem l’origen o envasos inflats que al obrir desprèn gas o fan mala olor.</p>
                        </section>
                        <section class="col-50">
                            <img style="margin: 1rem;" src="assets/AMPANS_43.jpg" alt="">
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>