<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="acordeon">
            <div id="info20" class="masInfo">
                <p (click)="acordeon('#info20');">
                    <span>¿Por qué es importante cocinar bien los alimentos?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>
                                Cuando cocinamos lo hacemos para destruir la mayoría de los microorganismos. Nos tenemos que asegurar con termómetros especiales de cocina, que el centro del alimento llega a los 65º - 70ºC (más ya no pues entonces también destruiríamos las propiedades del alimento). Una vez llega a esta temperatura se tiene que conservar caliente a la misma temperatura hasta el  momento de servir. Si baja a de 60ºC recordad que estaremos en la temperatura ideal de reproducción de los microorganismos (entre 10º y 60ºC se multiplican con rapidez) y correríamos el riesgo de que se multipliquen. Por lo tanto, si no tenemos carros especiales para conservar la comida caliente es necesario que hagamos o calentemos la comida <b>justo antes </b> de servir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info21" class="masInfo">
                <p (click)="acordeon('#info21');">
                    <span>¿Cómo tenemos que conservar los alimentos una vez cocinados?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>Si el alimento después de cocinarlos, se tiene que conservar en frío, el tiempo de enfriado desde el final de la cocción hasta llegar a los 10ºC no tiene que ser superior a 2h (se puede poner el alimento al baño María pero con hielo), después el producto se tendrá que mantener en frío a 3º - 4ºC. No es aconsejable ponerlo caliente en la nevera ya que entonces subiríamos la temperatura de ésta y ¡estropearíamos el resto de los alimentos!</p>
                        </div>
                    </div>
                </div>
            </div>					
            <div id="info22" class="masInfo">
                <p (click)="acordeon('#info22');">
                    <span>¿Cómo recalentamos los alimentos?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>El recalentamiento de los alimentos se tendrá que efectuar rápidamente. Se tiene que llegar a una temperatura de 70ºC, en un tiempo máximo de 1hora desde que se retira de la nevera. </p>
                        </div>
                    </div>
                </div>
            </div>					
            <div id="info23" class="masInfo">
                <p (click)="acordeon('#info23');">
                    <span>¿Cómo conservamos los alimentos que consumiremos en frío?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>Si la comida es para consumir en frío (ensaladillas, gazpacho, … NO se sacará de la nevera hasta JUSTO antes de servir.</p>
                        </div>
                    </div>
                </div>
            </div>													
        </div>
    </div>
</div>