<div class="contenedor condicional">
    <div class="row">
        <div class="acordeon">
            <div id="info20" class="masInfo">
                <p (click)="acordeon('#info20');">
                    <span>Perquè és important cuinar bé els aliments?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>Quan cuinem ho fem per destruir la majoria de microorganismes. Cal assegurar-nos amb termòmetres especials de cuina, que el centre de l’aliment arriba a 65-70ºC  (més no ja que llavors també destruiríem les propietats de l’aliment). Un cop arriba a aquesta temperatura s’ha de conservar calent a la mateixa temperatura fins just a l’hora de servir. Si baixa de 60 graus recordeu que estarem en la temperatura ideal de reproducció dels microorganismes (entre 10º i 60º es multipliquen amb rapidesa) i correríem risc que es multipliquin. Per tant, si no tenim carros especials per conservar el menjar calent cal que fem o escalfem el menjar just abans de servir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info21" class="masInfo">
                <p (click)="acordeon('#info21');">
                    <span>Com hem de conservar els aliments un cop cuinats?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>Si l’aliment després de coure, s’ha de conservar en fred, el temps de refredament des del final de la cocció fins arribar a 10ºC no ha de ser superior a 2h (es pot posar l’aliment al bany Maria però amb gel) després el producte s’haurà de mantenir en fred a 3-4ºC. No posar-lo calent a la nevera ja que llavors pujaríem la temperatura d’aquesta i malmetríem la resta d’aliments!</p>
                        </div>
                    </div>
                </div>
            </div>					
            <div id="info22" class="masInfo">
                <p (click)="acordeon('#info22');">
                    <span>Com reescalfem els aliments?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>El rescalfament dels aliments haurà d’efectuar-se ràpidament. S’ha d’arribar a una Tª de 70ºC, en un temps de 1h des que es retira de la nevera.</p>
                        </div>
                    </div>
                </div>
            </div>					
            <div id="info23" class="masInfo">
                <p (click)="acordeon('#info23');">
                    <span>Com conservem aliments que consumirem en fred?</span> 
                    <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                    <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                </p>
                <div class="content">
                    <div style="display: flex; align-items: center;">
                        <div class="col-100">
                            <p>Si el menjar és per consumir en fred (ensaladilles, gaspatxo...) NO es traurà de la nevera fins <b>JUST abans</b> de servir.</p>
                        </div>
                    </div>
                </div>
            </div>													
        </div>
    </div>
</div>