<div class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>A + TEMPS EN UNA Tº ADEQUADA =  + ÉSSERS VIUS</p>
            <p>A una temperatura favorable i humitat òptima, 1 sol microbi es multiplica cada 20 minuts... per tant al cap de unes hores pot haver produït milions!!!! Per això, quan més temps  estigui l’aliment a la temperatura de perill, més risc hi ha de de patir una toxi infecció alimentària degut a la gran quantitats de gèrmens que tindrà l’aliment.</p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_18.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Només el calor elimina els microorganismes (escalfar per sobre 65º). Si congelem l’aliment queden estables, sense moure’s ni multiplicar-se, però segueixen estant allà !!! i si l’aliment en algun moment torna a estar en una temperatura de perill, tornaran a multiplicar-se desseguida.</p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_19.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Per això cal tenir molt en compte:</p>
            <ul style="padding-left: 2rem;">
                <li><b>Servir just després de cuinar!!!</b> Millor que s’esperi la gent i no l’aliment !!! I si no es pot, tornar a escalfar per sobre 65º abans de servir</li>
                <li><b>No tornar a congelar res que ja s’hagi descongelat</b> (o cuinar-lo primer per destruir gèrmens abans de tornar a congelar, tot i que llavors també cal tenir en compte que perd qualitats de gust i nutritives)</li>
                <li><b>Descongelar els productes dins la nevera</b> (sobre una reixeta que permeti caure al fons el líquid descongelat de l’aliment) i no a fora malgrat requerirà més temps.</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_20.png" alt="">
        </div>
    </div>
</div>