<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <p>A + TIEMPO EN UNA Tº ADECUADA = + SERES VIVOS</p>	
            <p>A una temperatura favorable y humedad óptima, 1 solo microbio se multiplica cada 20 minutos… por lo tanto, ¡al cabo de unas horas puede haber producido millones! Por eso, en cuanto más tiempo esté el alimento a la temperatura de peligro, más riesgo hay de padecer una toxi infección alimentaria debido a las grandes cantidades que tendrá el alimento. </p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_18.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Solamente el calor elimina los microorganismos (calentar por encima de 65º). Si congelamos el alimento quedan estables, sin moverse ni multiplicarse, ¡pero siguen estando presentes! Y si el alimento en algún momento vuelve a estar en a una temperatura de peligro, volverán a multiplicarse enseguida.</p>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_19.png" alt="">
        </div>
    </div>
</div>