<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La contaminación cruzada se puede evitar con:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <ul>
                <li>UNA BUENA HIGIENE PERSONAL DE LOS MANIPULADORES.</li>
                <li>UNA ADECUADA HIGIENE DURANTE LOS PROCESOS DE MANIPULACIÓN SIGUIENDO LA <b>MARCHA HACIA DELANTE</b>.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>¿Qué es la marcha hacia adelante?  </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-50">
                                <p>
                                    Es un sistema que consiste en asegurar un “camino higiénico” para los alimentos durante todo su proceso.
                                </p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_63.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>												
            </div>    
        </div>
    </div>
</div>