<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La contaminació creuada es pot evitar amb:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <ul>
                <li>UNA BONA HIGIENE PERSONAL DELS MANIPULADORS.</li>
                <li>UNA ADEQUADA HIGIENE DURANT ELS PROCESSOS DE MANIPULACIÓ SEGUINT LA <b>MARXA ENDAVANT</b>.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Què és la Marxa endavant? </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-50">
                                <p>
                                    Sistema que consisteix en assegurar un “camí higiènic” pels aliments durant tots els seus processos.
                                </p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_63.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>												
            </div>    
        </div>
    </div>
</div>