<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>¿Qué sectores de la población son más sensibles a padecer infecciones?</p>
            <p class="instructions">Haz clic en cada imagen para ver toda la información</p>
            <div #flexyNotIe class="flexy">
                <div class="flip-card" (click)="flip(1)">
                    <div class="front-card">
                        <img src="assets/flip1.png">
                        <p class="orange-text">
                            NIÑOS 
                        </p>
                    </div>
                    <div class="back-card">
                        <p>Ya que tienen el sistema inmunológico inmaduro y no está preparado para estas infecciones.</p>
                    </div>
                </div>                               
                <div class="flip-card" (click)="flip(2)">
                    <div class="front-card">
                        <img src="assets/flip2.jpg">
                        <p class="orange-text">
                            ANCIANOS
                        </p>
                    </div >
                    <div class="back-card">
                        <p>Porque su sistema inmunológico ya está deteriorado y suelen tener la salud más delicada.</p>
                    </div>
                </div>
                <div class="flip-card" (click)="flip(3)">
                    <div class="front-card">
                        <img src="assets/flip3.jpg">
                        <p class="orange-text">
                            ENFERMOS
                        </p>
                    </div >
                    <div class="back-card">
                        <p>O personas con patologías asociadas: la medicación se absorbe en el intestino delgado, por tanto, en caso de diarrea o vómitos esta medicación se elimina del organismo sin absorberse. Esto puede ser grave en casos como la epilepsia, diabetes, cardiopatías, etc… ya que al no tener el efecto del fármaco, esto puede desencadenar en situaciones que pongan en riesgo la vida de la persona. Por ejemplo, una persona con epilepsia al no hacerle efecto el fármaco puede convulsionar y entrar en un coma epiléptico que podría ser irreversible.</p>
                    </div>
                </div>
            </div>
            <div #flexyIe class="flexy">
                <div class="ie-card" (click)="flipIE(1)">
                    <div class="ie-front-card">
                        <img src="assets/flip1.png">
                        <p class="orange-text">
                            NIÑOS 
                        </p>
                    </div>
                    <div class="ie-back-card">
                        <p>Ya que tienen el sistema inmunológico inmaduro y no está preparado para estas infecciones.</p>
                    </div>
                </div>                               
                <div class="ie-card" (click)="flipIE(2)">
                    <div class="ie-front-card">
                        <img src="assets/flip2.jpg">
                        <p class="orange-text">
                            ANCIANOS
                        </p>
                    </div >
                    <div class="ie-back-card">
                        <p>Porque su sistema inmunológico ya está deteriorado y suelen tener la salud más delicada.</p>
                    </div>
                </div>
                <div class="ie-card" (click)="flipIE(3)">
                    <div class="ie-front-card">
                        <img src="assets/flip3.jpg">
                        <p class="orange-text">
                            ENFERMOS
                        </p>
                    </div >
                    <div class="ie-back-card">
                        <p>O personas con patologías asociadas: la medicación se absorbe en el intestino delgado, por tanto, en caso de diarrea o vómitos esta medicación se elimina del organismo sin absorberse. Esto puede ser grave en casos como la epilepsia, diabetes, cardiopatías, etc… ya que al no tener el efecto del fármaco, esto puede desencadenar en situaciones que pongan en riesgo la vida de la persona. Por ejemplo, una persona con epilepsia al no hacerle efecto el fármaco puede convulsionar y entrar en un coma epiléptico que podría ser irreversible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center; align-items: center;">
        <img style="width: 300px" src="assets/kids.png" alt="">
        <div class="arrow_box">
            <p style="color: white">¡Hay que tener más precaución con las <br>poblaciones de riesgo!</p>
        </div>
    </div>
</div>
