<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Aquí us detallem els responsables de la gran majoria d’intoxicacions que ens trobem actualment al nostre país:</p>
            <table>
                <tr>
                    <th style="width: 33%">BACTÈRIES</th>
                    <th style="width: 33%">VIRUS</th>
                    <th style="width: 33%">PROTOZOUS I PARÀSITS</th>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>SALMONEL⋅LA</li>
                            <li>ESCHERICHIA COLI</li>
                            <li>ESTAPHILOCOCUS AUREUS</li>
                            <li>CLOSTRIDIUM</li>
                            <li>LISTERIA</li>
                        </ul>
                        <img src="assets/AMPANS_28.jpg" alt="">
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>HEPATITIS A</li>
                        </ul>
                        <img src="assets/AMPANS_29.jpg" alt="">
                    </td>
                    <td style="vertical-align: top;">
                        <ul>
                            <li>ANISAKIS</li>
                        </ul>
                        <img src="assets/AMPANS_30.jpg" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
