<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>¿Cuándo nos tenemos que lavar las manos?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="tab">
                <div class="tabs">
                    <div class="check" (click)="showTab(0)" [style.height.px]="height">
                        <p>Antes de</p>
                    </div>
                    <div (click)="showTab(1)" [style.height.px]="height">
                        <p>Despues de</p>
                    </div>
                </div>
                <div class="content-tabs">
                    <div class="show visible" #contentsRef>
                        <section class="col-100">
                            <ul>
                                <li>Inicio jornada laboral.</li>
                                <li>Manipular alimentos (crudos, cocinados).</li>
                                <li>Preparación alimentos.</li>
                            </ul>
                        </section> 
                    </div>
                    <div class="show" #contentsRef>
                        <section class="col-100">
                            <ul>
                                <li>Ir al wc.</li>
                                <li>Contacto con basura.</li>
                                <li>Mocarse, toser, estornudar.</li>
                                <li>Contacto con alimentos crudos.</li>
                                <li>Cualquier interrupción en el trabajo si estamos manipulando alimentos.</li> 
                            </ul>
                        </section> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>