<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <img src="assets/AMPANS_2.jpg" class="float-right-50">
            <p>És important que les persones que manipulen els aliments coneguin i estiguin familiaritzades amb el tipus d’infeccions que poden produir els aliments contaminats, sàpiguen distingir els aliments que estan contaminats, i com evitar que es contaminin abans d’arribar al consumidor final.</p>
            <p>Aquesta formació pretén donar aquests coneixements, i que puguis obtenir el corresponent certificat de formació.</p>
            <p>Però la <b>formació del manipulador/a d’aliments no acaba mai</b>, i les empreses del sector alimentari són les responsables del reciclatge i de garantir l’actualització d’aquests coneixements.</p>
            <p>Finalment recordar que, <b>a més de conèixer les tècniques a seguir quan es manipulen aliments, cal garantir l’acompliment de les indicacions rebudes, i per això és imprescindible que els continguts i recomanacions del document siguin portats a la pràctica</b>.</p>
        </div>
    </div>
</div>