<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <img src="assets/AMPANS_2.jpg" class="float-right-50">
            <p>Es importante que el manipulador de alimentos esté familiarizado con el tipo de infecciones que pueden producir los alimentos contaminados, cómo evitar que los alimentos se contaminen antes de llegar al consumidor y cómo distinguir los alimentos que están contaminados de los que no.</p>
            <p>
                Este curso ha sido creado para proporcionar una correcta formación en todos aquellos aspectos indicados en el párrafo anterior y poder conseguir el certificado de formación, no obstante a esto, queremos recordar que <b>la formación de un manipulador no termina nunca</b> y son las empresas del sector alimentario las responsables de seguir formando y de controlar el nivel de conocimientos de sus manipuladores.
            </p>
            <p>
                Finalmente, recordar que <b>no sirve para nada conocer las diversas técnicas a seguir cuando se manipulan alimentos si luego no se cumplen</b>. Por tanto, <b>pedimos que se lea a fondo este documento y sus consejos llevados a la práctica</b>.
            </p>
        </div>
    </div>
</div>