<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <img src="assets/AMPANS_2.jpg" class="float-right-50">
            <p>És important que el manipulador d'aliments estigui familiaritzat amb els tipus d'infeccions que poden produir els aliments contaminats, com evitar que els aliments es contaminin abans d'arribar al consumidor i com distingir aliments que estan contaminats i quins no.</p>
            <p>Aquest curs ha estat creat per proporcionar una correcta formació en tots els aspectes indicats en el paràgraf anterior i poder aconseguir el certificat de formació, no obstant això, volem recordar que 
                <b>la formació d'un manipulador no acaba mai </b> i són les empreses del sector alimentari les responsables de seguir formant i de controlar el nivell de coneixements dels seus manipuladors.
            </p>
            <p>
                Finalment recordar que <b>no serveix de res conèixer les diverses tècniques a seguir quan es manipulen aliments si després no es compleixen. Per tant, demanem que aquest document sigui llegit a fons i els seus consells portats a la pràctica</b>.
            </p>
        </div>
    </div>
</div>