<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>TERRES/SUPERFÍCIES</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <ul>
                                    <li>Escombrar el terra humit o bé utilitzar una aspiradora.</li>
                                    <li>Si s’ha de treure la pols fer-ho amb draps humits.</li>
                                    <li>Cal netejar amb aigua calenta i detergent.</li>
                                    <li>Cal desinfectar amb substàncies bactericides i esbandir amb aigua potable.</li>
                                    <li>Cal eixugar les superfícies amb un drap net, preferentment d’un sol ús.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_88.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>CAMBRES FRIGORÍFIQUES</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <ul>
                                    <li>Primer buidar-les i col·locar els aliments en un lloc on es conservi la cadena del fred.</li>
                                    <li>Desconnectar i utilitzar productes específics.</li>
                                    <li>Deixar que s’assequi l’interior i tornar a endollar.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_89.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																																	
            </div>
        </div>
    </div>
</div>