<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>ELS MICROBIS <span style="color:#E0684B; font-size: 30px; text-align: center;">→</span> ELS ALIMENTS</p>
            <p>Els gèrmens poden passar als aliments a través de:</p>
            <ul>
                <li>Persones malaltes i/o portadores</li>
                <li>Directament: parlar, estossegar, esternuts...</li>
                <li>Aire, aigua, terra</li>
                <li>Mans</li>
                <li>Animals i insectes</li>
                <li>Estris mal rentats</li>
                <li>Equips en mal estat</li>
            </ul>
        </div>
    </div>
    <div class="row" style="justify-content: center; align-items: center;">
        <img style="width: 300px" src="assets/AMPANS_12.jpg" alt="">
        <div class="arrow_box">
            <p style="color: white">A través dels aliments ens arriben els microorganismes patògens que causen les T.I.A. quan passen al nostre sistema digestiu.</p>
        </div>
    </div>
</div>