<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>LOS MICROBIOS <span style="color:#E0684B; font-size: 30px; text-align: center;">→</span> LOS ALIMENTOS</p>
            <p>Los gérmenes pueden pasar a los alimentos a través de:</p>
            <ul>
                <li>Persona enfermas y/o portadoras</li>
                <li>Directamente: hablar, toser, estornudar, ...</li>
                <li>Aire, agua, tierra</li>
                <li>Manos</li>
                <li>Animales e insectos</li>
                <li>Utensilios mal lavados</li>
                <li>Equipos en mal estado</li>
            </ul>
        </div>
    </div>
    <div class="row" style="justify-content: center; align-items: center;">
        <img style="width: 300px" src="assets/AMPANS_12.jpg" alt="">
        <div class="arrow_box">
            <p style="color: white">A través de los alimentos os llegan los microorganismos patógenos que causamos las T.I.A. cuando pasamos a vuestro sistema digestivo.</p>
        </div>
    </div>
</div>