<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La falta de higiene personal puede ser una de las causas de contaminación de los alimentos.</p>
            <div class="cita">
                <p>
                    
                </p>
                <p style="text-align: center">  <b>¡Procuremos evitarlo!</b> </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p> Se tiene que tener en cuenta:</p>
            <ul>
                <li>HIGIENE PERSONAL</li>
                <li>HIGIENE EN EL TRABAJO</li>
                <li>HIGIENE DE MANOS</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_80.jpg" alt="">
        </div>
    </div>
</div>