<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>La manca d’higiene personal pot ser una de les causes de contaminació dels aliments.</p>
            <div class="cita">
                <p>
                    
                </p>
                <p> <b>Procurem evitar-ho!</b> </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <p>Cal tenir en compte:</p>
            <ul>
                <li>HIGIENE PERSONAL</li>
                <li>HIGIENE EN EL TREBALL</li>
                <li>HIGIENE DE MANS</li>
            </ul>
        </div>
        <div class="col-50">
            <img src="assets/AMPANS_80.jpg" alt="">
        </div>
    </div>
</div>