<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                </p>
                <p style="text-align: center;">És responsabilitats de tots i serveix per minimitzar els perills.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-100">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="max-width: 60%; display: block; margin: 0 auto;" src="assets/esquema_9_4.png" alt="">
        </div>
    </div>
</div>