<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>GARANTIR LA QUALITAT ALIMENTARIA DELS PRODUCTES QUE SERVIM ÉS UNA OBLIGACIÓ EN EL REGLAMENT ESPANYOL:</p>
            <p>Si fas clic als següents enllaços podràs accedir als reglaments.</p>
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <ul>
                    <li><a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-2004-81035" target="_blank">Reglament (CE) 852/2004  (higiene productes)</a></li>
                    <li><a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2001-809" target="_blank">Real decret 3484/2000  (elaboració, distribució i comerç)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>