<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>GARANTIZAR LA CALIDAD ALIMENTARIA DE LOS PRODUCTOS QUE SERVIMOS ES UNA OBLIGACIÓN EN EL REGLAMENTO ESPAÑOL:</p>
            <p>Si haces clic en los siguientes enlaces podrás acceder a los reglamentos.</p>
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <ul>
                    <li><a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-2004-81035" target="_blank">Reglamento (CE) 852/2004  (higiene productos)</a></li>
                    <li><a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2001-809" target="_blank">Real decreto 3484/2000  (elaboración, distribución y comercialización)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>