<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>En el trabajo hay que evitar</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Fumar.</li>
                                    <li>Comer.</li>
                                    <li>Masticar chicle.</li>
                                    <li>Secarnos el sudor con la mano.</li>
                                    <li>Toser o estornudar sobre los alimentos.</li>
                                    <li>Peinaros o rascarnos.</li>
                                    <li>Probar los alimentos con los dedos.</li>
                                    <li>Manipular dinero.</li>
                                    <li>Chuparnos los dedos para abrir bolsas.</li>
                                </ul>
                                <div class="cita">
                                    <p>
                                    </p>
                                    <p>Todo esto hace que tengamos las manos llenas de bacterias y las podamos transmitir a los alimentos o a las superficies de trabajo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿Cómo tenemos que hacerlo?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Si estornudamos o tosemos, hay que hacerlo sobre un pañuelo de papel de un solo uso y luego lavarnos bien las manos.</li> 
                                    <li>Si probamos un alimento, hay que hacerlo con una cuchara limpia y luego hay que lavarla con agua potable caliente y detergente.</li>
                                    <li>Para secarnos el sudor hay que hacerlo con un pañuelo de papel.</li>
                                    <li>Si hay personas que han manipulado dinero, no pueden estar en contacto con los alimentos.</li>                                 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Cómo podemos unir salud y trabajo?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Debemos comunicar al responsable si tenemos:</p>
                                <ul>
                                    <li>Alguna lesión o herida importante en las manos.</li> 
                                    <li>Náuseas, vómitos, diarrea o fiebre.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿Por qué?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>La herida se puede infectar y contaminar alimentos. </li>
                                    <li>Las personas con náuseas, vómitos, diarrea o fiebre pueden ser una vía de contagio.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>