<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>A la feina cal evitar</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Fumar.</li>
                                    <li>Menjar.</li>
                                    <li>Mastegar xiclet.</li>
                                    <li>Eixugar-nos la suor amb la mà.</li>
                                    <li>Tossir o esternudar a sobre als aliments.</li>
                                    <li>Pentinar-nos i rascar-nos.</li>
                                    <li>Tastar els aliments amb els dits.</li>
                                    <li>Manipular diners.</li>
                                    <li>Llepar-nos els dits per obrir bosses.</li>
                                </ul>
                                <div class="cita">
                                    <p>
                                    </p>
                                    <p>Tot això fa que tinguem les mans plenes de bacteris i els puguem transmetre als aliments o a les superfícies de treball.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>Com ho hem de fer?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <ul>
                                    <li>Si esternudem o tossim, cal fer-ho sobre un mocador de paper d’un sol ús i després rentar-nos les mans.</li>
                                    <li>Si tastem un aliment, cal fer-ho amb cullera i després cal rentar-la amb aigua potable calenta i detergent.</li>
                                    <li>Per eixugar la suor cal fer-ho amb un mocador de paper.</li>
                                    <li>Si hi ha persones que han de manipular diners, cal que no estiguin en contacte amb els aliments.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Com podem unir salut i feina?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Hem de comunicar al responsable si tenim:</p>
                                <ul>
                                    <li>Alguna lesió o ferida important a les mans.</li>
                                    <li>Nàusees, vòmits, diarrea, o febre.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Perquè?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Hem de comunicar al responsable si tenim:</p>
                                <ul>
                                    <li>La ferida es pot infectar i contaminar aliments.</li>
                                    <li>Les persones amb nàusees, vòmits, diarrees o febre poden ser una via de contagi.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>																	
            </div>
        </div>
    </div>
</div>