<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Duración mínima sin secar 15’’.</li>
                <li class="fade-dos">Mojaros las manos y las muñecas con AGUA POTABLE CALIENTE.</li>
                <li class="fade-tres">Enjabonaros bien, especialmente en los espacios interdigitales y las uñas.</li>
                <li class="fade-cuatro">Aclararos con abundante agua.</li>
                <li class="fade-cinco">Secaros con toallas de papel.</li>
                <li class="fade-seis">Cerrad el grifo con la toalla de papel usada, antes de tirarla.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-seis" src="assets/AMPANS_84.jpg" alt="">
        </div>
    </div>
</div>