<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Durada mínima sense eixugat 15’’.</li>
                <li class="fade-dos">Mullar-se mans i canells AMB AIGUA POTABLE CALENTA.</li>
                <li class="fade-tres">Ensaboneu-vos bé, especialment als espais interdigitals i ungles.</li>
                <li class="fade-cuatro">Esbaldiu-vos amb aigua abundant.</li>
                <li class="fade-cinco">Eixugueu-vos amb tovalloles de paper.</li>
                <li class="fade-seis">Tancar l’aixeta amb tovallola de paper usada, abans de llençar-la.</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-seis" src="assets/AMPANS_84.jpg" alt="">
        </div>
    </div>
</div>