<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>¿Qué crece en las basuras?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Los restos de alimentos dan lugar a la multiplicación de microbios y atraen  a los insectos y roedores.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_91.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>¿Dónde hay que guardarlos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Se tiene que destinar un sitio estratégico aislado para evitar el contacto directo con los alimentos.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>¿Cómo han de ser los contenedores?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Los contenedores tienen que ser:</p>
                                <ul>
                                    <li>Con pedal, no manuales.</li>
                                    <li>Limpiados y desinfectados periódicamente como marque el plan de limpieza.</li> 
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_92.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>¿Qué se tiene que hacer después de manipularlos?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Después de manipularlos, SIEMPRE, hay que lavarse las manos correctamente.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
            </div>
        </div>
    </div>
</div>
