<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info20" class="masInfo">
                    <p (click)="acordeon('#info20');">
                        <span>Què creix a les escombraries?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Les restes d’aliments donen lloc a la multiplicació de microbis i atreuen als insectes i rosegadors.</p>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_91.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>																	
                <div id="info21" class="masInfo">
                    <p (click)="acordeon('#info21');">
                        <span>On s’han de guardar?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>S’ha de destinar un lloc estratègic aïllat per evitar el contacte directe amb els aliments.</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
                <div id="info22" class="masInfo">
                    <p (click)="acordeon('#info22');">
                        <span>Com han de ser els contenidors?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-50">
                                <p>Els contenidors han de ser:</p>
                                <ul>
                                    <li>Amb pedal, no manuals.</li>
                                    <li>Netejats i desinfectats periòdicament com marqui el pla de neteja.</li>
                                </ul>
                            </div>
                            <div class="col-50">
                                <img src="assets/AMPANS_92.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info23" class="masInfo">
                    <p (click)="acordeon('#info23');">
                        <span>Què cal fer després de manipular-les?</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div style="display: flex; align-items: center;">
                            <div class="col-100">
                                <p>Després de la seva manipulació, SEMPRE netejar-se les mans correctament</p>
                            </div>
                        </div>
                    </div>
                </div>																																	
            </div>
        </div>
    </div>
</div>
