<div class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Els aliments amb més risc són els següents:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <ul style="padding-left: 2rem">
                <li class="fade-uno">Fruita i verdura</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-uno" style="width: 75%" src="assets/AMPANS_57a.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <ul style="padding-left: 2rem">
                <li class="fade-dos">Productes congelats</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-dos" style="width: 75%" src="assets/AMPANS_57b.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <ul style="padding-left: 2rem">
                <li class="fade-dos">Conserves</li>
            </ul>
        </div>
        <div class="col-50">
            <img class="fade-dos" style="width: 75%" src="assets/AMPANS_57c.jpg" alt="">
        </div>
    </div>
</div>